﻿@{
    ViewBag.Title = "Confirmar e-mail";
    Layout = "~/Views/Shared/_Login.cshtml";
}




    <div class="splash-container" style="margin-top:10%">
        <div class="card ">
            <div class="card-header text-center">

                <span class="splash-description">

                </span>

            </div>
            <div class="card-body">
                Obrigado por confirmar seu e-mail!
                <br />
                Você será redirecionado para Pagina de Login!
            </div>


        </div>
    </div>

    <noscript>
        <meta http-equiv="refresh" content="0;URL=@Request.Url.Scheme://@Request.Url.Authority">
    </noscript>

    <script language="JavaScript">
        setTimeout("document.location = '@Request.Url.Scheme://@Request.Url.Authority'", 10);
    </script>