﻿@model Pegasus.Models.ResetPasswordViewModel
@{
    ViewBag.Title = "Redefinir senha";
    Layout = "~/Views/Shared/_Login.cshtml";
}

<div class="login-box">
    <div class="login-logo">
        <a href="#"><b>SMV</b></a>
    </div>
    <!-- /.login-logo -->
    <div class="card">
        <div class="card-body login-card-body">
            @using (Html.BeginForm("ResetPassword", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form", autocomplete = "off" }))
            {
                <p class="login-box-msg">
          
                    <br />
                    @Html.AntiForgeryToken()
                    @Html.HiddenFor(model => model.Code)
                </p>



                <div class="input-group mb-3">
             
                        @Html.PasswordFor(m => m.Password, new { @class = "form-control", placeholder = "Password", type = "password" })
                        @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                    <div class="input-group-append input-group-text">
                        <span class="fas fa-envelope"></span>
                    </div>
                </div>
                <div class="input-group mb-3">
                    @Html.TextBoxFor(m => m.ConfirmPassword, new { @class = "form-control", placeholder = "Password", type = "password" })
                    @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "text-danger" })

                
                    <div class="input-group-append input-group-text">
                        <span class="fas fa-lock"></span>
                    </div>
                </div>
                <div class="row">
                  
                    <div class="col-12">
     
                        <input style="display:none" name="Url" id="Url" value="@Request.Url.Scheme://@Request.Url.Authority/@Request.Url.Segments[1]" />

                        <button class="btn btn-primary btn-lg btn-block " type="submit">Confirmar</button>
                    </div>
                    <!-- /.col -->
                </div>

            }

            <!-- /.social-auth-links -->
          
        </div>
        <!-- /.login-card-body -->
    </div>


</div>
