﻿<!doctype html>
<html lang="en">
 
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>SMV Sistema de Manutenção Veicular.</title>

    <!-- Bootstrap CSS -->
    @Styles.Render("~/Content/css")


    @Styles.Render("~/Content/fonts")

    @Scripts.Render("~/bundles/scripts")

</head>

<body>
    @if (@TempData["message"] != null)
    {
        <section class="content">
            <div class="container-fluid">


                <!-- START ALERTS AND CALLOUTS -->


                <div class="row">
                    <div class="col-md-3">  </div>
                    <div class="col-md-6">

                        <!-- /.card-header -->
                        <div class="card-body">
                            <div class="callout callout-danger  @TempData["messageType"] ">
                                <h5></h5>

                                <p>
                                    @TempData["message"]
                                </p>
                            </div>

                        </div>
                        <!-- /.card-body -->
                    </div>
                    <div class="col-md-3">  </div>
                </div>
                <!-- /.col -->
            </div>

        </section>
    }
      
 
        <!-- ============================================================== -->
        <!-- login page  -->
        <!-- ============================================================== -->
        @RenderBody()

        <!-- ============================================================== -->
        <!-- end login page  -->
        <!-- ============================================================== -->

    </body>
 
</html>