﻿@using BusinessLayer.Security
<nav class="mt-2">
    <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
        <!-- Add icons to the links using the .nav-icon class
    with font-awesome or any other icon font library -->
        @if (SystemSecurityRoles.IsInRole("ADMIN"))
    {
        <li class="nav-header">Administração</li>


        <li class="nav-item">
            <a class="nav-link" href="@Url.Action("Index", "Permission", new { Area = "Admin" })">
                <i class="fa fa-fw fa-ban"></i>
                <p>
                    Conceder Acesso
                    <span class="badge badge-info right"></span>
                </p>
            </a>
        </li>

}

        @if (SystemSecurityRoles.IsInRole("SUPORTE"))
    {
        <li class="nav-header">Suporte</li>
        <li class="nav-item">
            <a class="nav-link" href="@Url.Action("Index", "CadastroOficina", new { Area = "Support" })">
                <i class="fa fa-fw fa-industry"></i>
                <p>
                    Cadastrar Oficinas
                    <span class="badge badge-info right"></span>
                </p>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="@Url.Action("Index", "Permissions", new { Area = "Support" })">
                <i class="fa fa-fw fa-minus-circle">
                </i>
                <p>
                    Permissoes
                    <span class="badge badge-info right"></span>
                </p>


            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="@Url.Action("Index", "CadastroServicoes", new { Area = "Support" })">
                <i class="fa fa-fw fa-server">
                </i>
                <p>
                    Cadastrar Servicos
                    <span class="badge badge-info right"></span>
                </p>
            </a>
        </li>

}

        @if (SystemSecurityRoles.IsInRole("ADMIN"))
    {
        <li class="nav-header">Oficina</li>
        <li class="nav-item">
            <a class="nav-link" href="@Url.Action("Index", "CadastroCliente", new { Area = "Oficina" })">
                <i class="fa fa-fw fa-address-book">
                </i>
                <p>
                    Clientes
                    <span class="badge badge-info right"></span>
                </p>
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="@Url.Action("Index", "OrdemDeServicoes", new { Area = "Oficina" })">
                <i class="fa fa-fw fa-tasks"></i>
                <p>Todos os Pedidos</p>
                <span class="badge badge-info right"></span>
            </a>
        </li>
        @*<li class="nav-item">
            <a class="nav-link" href="@Url.Action("Index", "CadastroVeiculo", new { Area = "Oficina" })">
                <i class="fa fa-fw fa-car"></i>
                <p>Cadastrar Veiculo</p>

                <span class="badge badge-info right"></span>
            </a>
        </li>*@
        <li class="nav-item">

            <a class="nav-link" href="@Url.Action("Index", "Home", new { Area = "" })">
                <i class="fa fa-fw fa-industry"></i>

                <p>Escolher Oficina </p> <span class="badge badge-info right"></span>
            </a>

        </li>
}

        <li class="nav-header">Usuario</li>
        <li class="nav-item">
            <a class="nav-link" href="@Url.Action("Index", "Profile", new { Area = "" })">
                <i class="fa fa-fw fa-user"></i>
                <p>Perfil</p>
                <span class="badge badge-info right"></span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="@Url.Action("Index", "OrdemDeServicoes", new { Area = "Oficina" })">
                <i class="fa fa-fw fa-tasks"></i>
                <p>Historico de Servicos</p>
                <span class="badge badge-info right"></span>
            </a>
        </li>

        <li class="nav-item">

            <a class="nav-link" href="@Url.Action("Logout", "Account", new { Area = "" })">
                <i class="fas fa-sign-out-alt"></i>

                <p>Sair </p> <span class="badge badge-info right"></span>
            </a>

        </li>

    </ul>
</nav>