﻿@model DataLayer.DbSystem.Models.TbSystemTiposDeServicoes
@using BusinessLayer.Helpers


<div class="modal-dialog" role="document">
    <div class="modal-content">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Novo</h5>
                <a href="#" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </a>
            </div>
            <div class="modal-body">
                <div class="col-md-12 ">
                    <div class="form-horizontal">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                        <div class=" form-group">
                        @Html.Label("Servico", new { @class = "control-label col-md-12" })
                        <div class="col-md-10">

                            @Html.DropDownListFor(m => m.OperationServicoesId, SelectListItemHelper.GetServicoes(ViewBag.id), "-- SELECIONE O SERVICO --", new { @class = "form-control" })
                        </div>
                        @Html.ValidationMessageFor(m => m.OperationServicoesId, "", new { @class = "text-danger" })
                    </div>

                        <div class="form-group">
                            @Html.Label("Tipo do Servico", new { @class = "control-label col-md-12" })
                            <div class="col-md-10">
                                @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                            </div>
                        </div>



                        <div class="form-group">
                            @Html.LabelFor(m => Model.Active, new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.CheckBoxFor(m => m.Active, new { @class = "checkbox" })
                            </div>
                        </div>



                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <a href="#" class="btn btn-secondary" data-dismiss="modal">Fechar</a>
                <button class="btn btn-primary" type="submit">Salvar</button>
            </div>
        }
    </div>
</div>

