﻿@model Pegasus.Areas.Oficina.Models.OficinaModelView


<div class="modal-dialog" role="document">
    <div class="modal-content">
        @using (Html.BeginForm(Html.BeginForm("Edit", "CadastroOficina", FormMethod.Post, new { enctype = "multipart/form-data", autocomplete = "off", Area = "Oficina" })))
    {
        @Html.AntiForgeryToken()

        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Edit</h5>
            <a href="#" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </a>
        </div>
        <div class="modal-body">
            <div class="col-md-10 col-md-offset-1">
                <div class="form-horizontal">
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    @Html.HiddenFor(p=> p.OperationCadastroOficinaId)
                    <div class="form-group">
                        @Html.LabelFor(m => Model.Name, new { @class = "control-label col-md-2" })
                        <div class="col-md-12">
                            @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">

                        @Html.LabelFor(model => model.Files, htmlAttributes: new { @class = "control-label col-md-2", @for = "input-file-now" })
                        <div class="col-md-12">

                            @Html.TextBoxFor(model => model.Files, new { @class = "dropify", @id = "input-file-now ", @type = "file" })

                            @Html.ValidationMessageFor(model => model.Files.FileName, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(m => Model.Active, new { @class = "control-label col-md-2" })
                        <div class="col-md-12">
                            @Html.CheckBoxFor(m => m.Active, new { @class = "checkbox" })
                        </div>
                    </div>


                </div>
            </div>
        </div>
        <div class="modal-footer">
            <a href="#" class="btn btn-secondary" data-dismiss="modal">Fechar</a>
            <button class="btn btn-primary" type="submit">Salvar</button>
        </div>
}
    </div>
</div>

<script>
    $(document).ready(function () {
     var nameImage = '@MvcHtmlString.Create(Model.Base64)';
        $('.dropify').dropify({
           
        });
    });
    //dropify-wrapper add has-preview

   // dropify-loader change display: none

   // dropify-preview change display: block
</script>