﻿@model DataLayer.DbSystem.Models.TbSystemUser

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row">
    @foreach (var item in Model.OficinaCollection)
    {
        <div class="col-md-2">
            <!-- Box Comment -->
            <div class="card card-widget">

                <!-- /.card-header -->
                <div class="card-body">
                    <a href="@Url.Action("Change", "Home", new { Area = "", id = item.OperationCadastroOficinaId })">
                        <img class="img-fluid pad" src="@item.LogoBase64" alt="Photo" style="width:200px; height:200px">
                    </a>

                </div>

            </div>
            <!-- /.card -->
        </div>
    }
</div>