﻿@using BusinessLayer.Helpers


@model Pegasus.Areas.Admin.Models.PermissionsByUserViewModel

@using (Html.BeginForm())
{
    @Html.HiddenFor(m => m.currentSearch);
    if (!string.IsNullOrEmpty(Model.currentSearch) && Model.userExist)
    {
        <div class="form-group">
            <div class="col-md-5">
                <label>User Permissions</label>
                @Html.ListBoxFor(m => m.SelectedApplied, Model.AppliedPermissions, new { size = 10, @class = "form-control", id = "SelectedApplied" })
            </div>

            <div class="col-md-2 text-center">
                <br />
                <br />
                <button id="btnRight" type="button" class="btn btn-default"><span class="fa fa-angle-double-right"></span></button>
                <br />
                <br />
                <button id="btnLeft" type="button" class="btn btn-default"><span class="fa fa-angle-double-left"></span></button>
                <br />
                <br />
            </div>

            <div class="col-md-5">
                <label>Avaliable Permissions</label>
                @Html.ListBoxFor(m => m.SelectedAvaliable, Model.AvaliablePermissions, new { size = 10, @class = "form-control", id = "SelectedAvaliable" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-12">
                <button type="submit" class="btn btn-success pull-right"><span class="glyphicon glyphicon-ok-sign glyphicon-right"></span>Apply</button>
            </div>
        </div>
    }
    if (!string.IsNullOrEmpty(Model.currentSearch) && !Model.userExist)
    {

        <div class="alert alert-warning alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <strong>Warning! </strong>Sorry this user @Model.currentSearch was not found, check with the administrator of the team or try again
        </div>
    }
}

<script src="~/Scripts/jquery-3.1.0.js"></script>
<script type="text/javascript">
    //Code Starts
    $(document).ready(function () {
        $('#btnRight').click(function (e) {
            var selectedOpts = $('#SelectedApplied option:selected');
            if (selectedOpts.length == 0) {
                alert("Nothing to move.");
                e.preventDefault();
            }
            $('#SelectedAvaliable').append($(selectedOpts).clone());
            $(selectedOpts).remove();
            e.preventDefault();
        });
        $('#btnLeft').click(function (e) {
            var selectedOpts = $('#SelectedAvaliable option:selected');
            if (selectedOpts.length == 0) {
                alert("Nothing to move.");
                e.preventDefault();
            }
            $('#SelectedApplied').append($(selectedOpts).clone());
            $(selectedOpts).remove();
            e.preventDefault();
        });
    });
    //Code Ends
    $(function () {
        $("form").submit(function () {
            $("select option").prop("selected", true);
        });
    });
</script>
