﻿@model DataLayer.DbSystem.Models.TbOperationCadastroVeiculos
@using BusinessLayer.Helpers

<div class="modal-dialog" role="document">
    <div class="modal-content">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Novo</h5>
                <a href="#" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </a>
            </div>

            <div class="modal-body">
                <div class="col-md-10 col-md-offset-1">
                    <div class="form-horizontal">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                        <div class=" form-group">
                            @Html.Label("Cliente", new { @class = "control-label col-md-12" })
                            <div class="col-md-10">

                                @Html.DropDownListFor(m => m.UserId, SelectListItemHelper.GetAllUser(Model.OperationCadastroOficinaId), "-- SELECIONE O CLIENTE --", new { @class = "form-control" })
                            </div>
                            @Html.ValidationMessageFor(m => m.UserId, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => Model.Marca, new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.TextBoxFor(m => m.Marca, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.Marca, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => Model.Modelo, new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.TextBoxFor(m => m.Modelo, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.Modelo, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => Model.Placa, new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.TextBoxFor(m => m.Placa, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.Placa, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => Model.Ano, new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.TextBoxFor(m => m.Ano, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.Ano, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(m => Model.Motor, new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.TextBoxFor(m => m.Motor, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.Motor, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(m => Model.Active, new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.CheckBoxFor(m => m.Active, new { @class = "checkbox" })
                            </div>
                        </div>



                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <a href="#" class="btn btn-secondary" data-dismiss="modal">Fechar</a>
                <button class="btn btn-primary" type="submit">Salvar</button>
            </div>
        }
    </div>
</div>

