﻿@*@model DataLayer.DbEng.Entities.TbLocations*@


@{
    ViewBag.Title = "Index";
    Layout = "";
}

<div class="modal-dialog" role="document">
    <div class="modal-content">
        @*@using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })*@
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
            <a href="#" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </a>
        </div>
        <div class="modal-body">
            <div class="col-md-10 col-md-offset-1">
                <div class="form-horizontal">
                    <div class="form-group">
                        @*@Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })*@
                        <div class="col-md-10">
                            @*@Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })*@
                        </div>
                    </div>


                </div>
            </div>
        </div>
        <div class="modal-footer">
            <a href="#" class="btn btn-secondary" data-dismiss="modal">Close</a>
            <a href="#" class="btn btn-primary">Save changes</a>
        </div>
        @*}*@
    </div>
</div>

@*@Scripts.Render("~/bundles/jqueryval")*@