﻿
@model IEnumerable<DataLayer.DbSystem.Models.TbSystemUser>
@{
    ViewBag.Title = "Companies List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}




<div class="navbar bg-white breadcrumb-bar border-bottom">

    @ViewBag.Title
    <div class="dropdown">
        <button class="btn btn-outline-light btn-sm create" data-id="0">
            <i class="fas fa-plus-circle"></i>
            Create
        </button>

    </div>
</div>
<div class="container-fluid  dashboard-content">


    <div class="row">
        <!-- ============================================================== -->
        <!-- data table  -->
        <!-- ============================================================== -->
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
            <div class="card">
                <div class="card-header">
                    <h5 class="mb-0"></h5>
                    <p></p>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table id="datatable" class="table table-striped table-bordered second" style="width:100%">
                            <thead>
                                <tr>

                                    <th>
                                        User
                                    </th>
                                    <th>
                                        Name
                                    </th>
                                    <th>
                                        Email
                                    </th>
                                    <th>
                                        Name
                                    </th>
                                    <th>
                                        Telefone
                                    </th>
                                    <th>
                                        Endereço
                                    </th>

                                    <th>
                                        Active
                                    </th>
                                    <th class="nosort"></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.User)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Email)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Email)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Name)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Telefone)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Endereço)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Active)
                                    </td>

                                    <td class="text-center btn-group-sm table-menu-buttons">
                                        <button class="btn btn-primary edit" data-toggle="tooltip" data-placement="left" title="Edit" data-id="@item.UserId"><i class="fas fa-pencil-alt"></i></button>
                                        @*<button class="btn btn-default btn-info" data-toggle="tooltip" data-placement="top" title="Details" data-id="@item.UserId"><i class="fas fa-eye"></i></button>*@
                                        <button class="btn btn-danger delete" data-toggle="tooltip" data-placement="right" title="Delete" data-id="@item.UserId"><i class="fas fa-trash-alt"></i></button>
                                    </td>
                                </tr>
                                }

                            </tbody>

                        </table>
                    </div>
                </div>
            </div>
        </div>
        <!-- ============================================================== -->
        <!-- end data table  -->
        <!-- ============================================================== -->
    </div>

</div>

