﻿@model IEnumerable<DataLayer.DbSystem.Models.TbSystemPermissions>

@{
    ViewBag.Title = "Permissions List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="content-header">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-6">
                <h1>    @ViewBag.Title</h1>
            </div>
            <div class="col-sm-5">
            </div>
            <div class="col-sm-1">
                <button class="btn btn-block btn-info btn-flat create" data-id="0">
                    <i class="fas fa-plus-circle"></i>
                    Criar
                </button>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>

<div class="container-fluid  dashboard-content">


    <div class="row">
        <!-- ============================================================== -->
        <!-- data table  -->
        <!-- ============================================================== -->
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
            <div class="card">
                <div class="card-header">
                    <h5 class="mb-0"></h5>
                    <p></p>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table id="datatable" class="table table-striped table-bordered second" style="width:100%">
                            <thead>
                                <tr>
                                    <th>
                                        Nome
                                    </th>
                                    <th>
                                        Descrição
                                    </th>
                                    <th>
                                        Ativado
                                    </th>
                                    <th class="nosort"></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Name)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Description)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Active)
                                        </td>
                                        <td class="text-center btn-group-sm table-menu-buttons">
                                            <button class="btn btn-primary edit" data-toggle="tooltip" data-placement="left" title="Edit" data-id="@item.PermissionId"><i class="fas fa-pencil-alt"></i></button>
                                            <button class="btn btn-default btn-info" data-toggle="tooltip" data-placement="top" title="Details" data-id="@item.PermissionId"><i class="fas fa-eye"></i></button>
                                            <button class="btn btn-danger delete" data-toggle="tooltip" data-placement="right" title="Delete" data-id="@item.PermissionId"><i class="fas fa-trash-alt"></i></button>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

                <div style="margin-top: 60px" class="modal fade" tabindex="-1" role="dialog" id="modal"></div>


