﻿@model Pegasus.Areas.Admin.Models.PermissionsByUserViewModel

@{
    ViewBag.Title = "Conceder Acesso";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var ajaxOptions = new AjaxOptions() { HttpMethod = "GET", UpdateTargetId = "unobtrusive" };
}

<a class="btn btn-back btn-xs" href='@Url.Action("Index", "Home", new { area = "Admin" })'><i class="fa fa-long-arrow-left fa-right" aria-hidden="true"></i>Go Back</a>

<br />

<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <div class="box box-info">
            <div class="box-header with-border">
                <h3 class="box-title">@ViewBag.Title</h3>
            </div>
            <div class="box-body form-horizontal">
                @using (Ajax.BeginForm("Index", null, ajaxOptions, new { autocomplete = "off" }))
                {
                    <div class="form-group has-feedback has-clear">
                        <div class="col-md-10">
                            @Html.TextBox("searchString", Model.currentSearch, new { @class = "form-control input-sm", placeholder = "Procure por Email" })
                            <span class="form-control-clear glyphicon glyphicon-remove form-control-feedback hidden"></span>
                        </div>
                        <div class="col-md-1">
                            <button type="submit" class="btn btn-warning btn-sm"><span class="glyphicon glyphicon-search glyphicon-right"></span>Search</button>
                        </div>
                    </div>
                }
                <div id="unobtrusive">
                    @Html.Partial("_List", Model)
                </div>
            </div>

        </div>
    </div>
</div>


    <script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
    <script type="text/javascript">
        $('.has-clear input[type="text"]').on('input propertychange', function () {
            var $this = $(this);
            var visible = Boolean($this.val());
            $this.siblings('.form-control-clear').toggleClass('hidden', !visible);
        }).trigger('propertychange');
        $('.form-control-clear').click(function (e) {
            e.preventDefault();
            $(this).siblings('input[type="text"]').val('');
            var form = $(this).parents('form:first');
            form.submit();
        });
    </script>
