﻿@{
    ViewBag.Title = "AccessDenied";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!-- Main content -->
<section class="content">
    <div class="error-page">
        <h2 class="headline text-danger"></h2>
        <div class="error-content">
            <h3><i class="fas fa-exclamation-triangle text-danger"></i> Acesso Negado.</h3>
            <p>
              Por favor, Volte para pagina incial
              <br />  <a href="@Url.Action("Index","Home", new { Area = ""})">Retornar Para Inicio</a> 
            </p>
         
        </div>
    </div>
    <!-- /.error-page -->
</section>
<!-- /.content -->