﻿@model Pegasus.Models.RegisterViewModel
@{
    ViewBag.Title = "Registre-se";
    Layout = "~/Views/Shared/_Login.cshtml";
}

<div class="login-box">
    <div class="login-logo">
        <a href="#"><b>SMV</b></a>
    </div>
    <!-- /.login-logo -->
    <div class="card">
        <div class="card-body login-card-body">
                @using (Html.BeginForm("Cadastre", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form", autocomplete = "off" }))
                {
                <p class="login-box-msg">
                      @Html.ValidationSummary(true, "")
                    @Html.AntiForgeryToken()
                </p>

 
                         <div class="input-group mb-3">
            
                            @Html.TextBoxFor(m => m.Nome, new { @class = "form-control ", placeholder = "Nome" })
                            @Html.ValidationMessageFor(m => m.Nome, "", new { @class = "text-danger" })
                            <div class="input-group-append input-group-text">
                                <span class="fas fa-user"></span>
                             </div>
                    </div>

                         <div class="input-group mb-3">

                             @Html.TextBoxFor(m => m.Email, new { @class = "form-control ", placeholder = "Email" })
                             @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                             <div class="input-group-append input-group-text">
                                 <span class="fas fa-envelope"></span>
                             </div>
                         </div>
                         <div class="input-group mb-3">

                             @Html.PasswordFor(m => m.Password, new { @class = "form-control ", placeholder = "Senha" })
                             @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                             <div class="input-group-append input-group-text">
                                 <span class="fas fa-lock"></span>
                             </div>

                         </div>
                         <div class="input-group mb-3">

                             @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control ", placeholder = "Senha" })
                             @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "text-danger" })
                             <div class="input-group-append input-group-text">
                                 <span class="fas fa-lock"></span>
                             </div>

                         </div>
                <div class="row">
                    <div class="col-12">
                        <input style="display:none" name="Url" id="Url" value="@Request.Url.Scheme://@Request.Url.Authority/@Request.Url.Segments[1]" />

                        <button class="btn btn-primary btn-lg btn-block " type="submit">Confirmar</button>
                    </div>
                    <!-- /.col -->
                </div>
            }

        </div>
        <!-- /.login-card-body -->
    </div>


</div>

