﻿@model Pegasus.Models.ForgotViewModel
@{
    ViewBag.Title = "Esqueci a Senha";
    Layout = "~/Views/Shared/_Login.cshtml";
}
<div class="login-box">
    <div class="login-logo">
        <a href="#"><b>SMV</b></a>
    </div>
    <!-- /.login-logo -->
    <div class="card">
        <div class="card-body login-card-body">
     @using (Html.BeginForm("ForgotPassword", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form", autocomplete = "off" }))
            {
            <p class="login-box-msg">

                @Html.AntiForgeryToken()
            </p>
                
                <div class="input-group mb-3">
       
                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control", placeholder = "Email", type = "" })
                    @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                    <div class="input-group-append input-group-text">
                        <span class="fas fa-envelope"></span>
                    </div>
                </div>
      
                <div class="row">

                    <div class="col-12">

                        <input style="display:none" name="Url" id="Url" value="@Request.Url.Scheme://@Request.Url.Authority/@Request.Url.Segments[1]" />

                        <button class="btn btn-primary btn-lg btn-block " type="submit">Confirmar</button>
                    </div>
                    <!-- /.col -->
                </div>
            }

        </div>
        <!-- /.login-card-body -->
    </div>


</div>


