﻿@{
    ViewBag.Title = "InactiveAccount";

    Layout = "~/Views/Shared/_Login.cshtml";
}



    <div class="row welcomeForm">
        <div style="border:1px solid#808080;background-color:rgba(204, 204, 204, 0.64)" class="col-md-8 col-md-offset-2 box-shadow">
            <h2>Dear, @TempData["displayname"]</h2>
            <hr style="height:2px;background-color: darkblue" />
            <p />
            <h1 style="color:red;padding-bottom: 10px;">
                The user <strong style="color:darkslategray;">@TempData["username"]</strong> access request is inactive.<br />
                Please contact a administrator in your team.
                <br />
                <br />
                <a href="@Url.Action("Index", "Home", new { area = "" })" class="btn btn-default btn-flat">go back</a>
            </h1>
        </div>
    </div>


