﻿
@model Pegasus.Models.LoginViewModel

@{
    Layout = null;
    ViewBag.Title = "Log in";
}
@{

    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Login.cshtml";
}


<div class="login-box">
    <div class="login-logo">
        <a href="#"><img class="img-fluid pad" src="../Images/SMV.jpeg" alt=""></a>
    </div>
    <!-- /.login-logo -->
    <div class="card">
        <div class="card-body login-card-body">
           @using (Html.BeginForm("Index", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form", autocomplete = "off" }))
            {
            <p class="login-box-msg">
                Faça o Login!
                <br />
                @Html.ValidationSummary(true, "")
                @Html.ValidationMessageFor(m => m.User, "", new { @class = "text-danger" })
                @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                @Html.AntiForgeryToken()
            </p>

         
         
                    <div class="input-group mb-3">
       
                            @Html.TextBoxFor(m => m.User, new { @class = "form-control ", placeholder = "Email" })
                      
                        <div class="input-group-append input-group-text">
                            <span class="fas fa-envelope"></span>
                        </div>
                    </div>
                    <div class="input-group mb-3">
                        @Html.TextBoxFor(m => m.Password, new { @class = "form-control", placeholder = "Password", type = "password" })
                    
                        <div class="input-group-append input-group-text">
                            <span class="fas fa-lock"></span>
                        </div>
                    </div>
                    <div class="row">
                        @*<div class="col-8">
                            <div class="icheck-primary">
                                <input type="checkbox" id="remember">
                                <label for="remember">
                                    Remember Me
                                </label>
                            </div>
                        </div>*@
                        <!-- /.col -->
                        <div class="col-12">
                            <button type="submit" class="btn btn-primary btn-sm btn-block ">Login</button>
                
                        </div>
                        <!-- /.col -->
                    </div>
            }

        <!-- /.social-auth-links -->
        <p class="mb-1">
            @*<a href="@Url.Action("ForgotPassword")">Esqueci a senha</a>*@
        </p>
        <p class="mb-0">
            <a href="@Url.Action("Cadastre")" class="text-center">Cadastre-se Aqui</a>
        </p>
        </div>
        <!-- /.login-card-body -->
    </div>


</div>
