﻿@model Pegasus.Areas.Oficina.Models.FormulariodeServicos

@{
    ViewBag.Title = "Criação da ordem de Serviço";
    Layout = "~/Views/Shared/_Layout.cshtml";
}




<div class="container">
    <div class="row justify-content-center">
        <!-- left column -->
        <div class=" col-10 ">
            <!-- general form elements -->
            <div class="card card-primary">
                <div class="card-header">
                    <h3 class="card-title">Criando uma ordem de servico</h3>
                </div>

                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()

                <div class="form-horizontal">

                    <hr />
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })




                    <div class="form-group carro">
                        <div class="col-md-12">
                            @Html.Label("Veiculo", htmlAttributes: new { @class = "control-label " })
                            <button class="close createCustomer AddVeiculo"  title="Add Customer" data-id="0"  type="button">+</button>
                            <button class="close createCustomer RemoveVeiculo" type="button" title="Remove Customer" data-id="0">-</button>

                            @Html.DropDownListFor(m => m.OperationCadastroVeiculosId, Enumerable.Empty<SelectListItem>(), "Select", new { htmlAttributes = new { @class = "form-control select2-selection select2-selection--single" } })

                            @Html.ValidationMessageFor(model => model.OperationCadastroVeiculosId, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group user">
                  
                        <div class="col-md-12">
                            @Html.Label("Clientes", htmlAttributes: new { @class = "control-label" })
                            <button class="close createCustomer AddClientes" title="Add Customer" data-id="0" type="button">+</button>
                            <button class="close createCustomer RemoveClientes" type="button" title="Remove Customer" data-id="0">-</button>

                            @Html.DropDownListFor(m => m.UserId, Enumerable.Empty<SelectListItem>(), "Select", new { htmlAttributes = new { @class = "form-control select2-selection select2-selection--single" } })

                            @Html.ValidationMessageFor(model => model.UserId, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group carroimagem">
                        @Html.Label("Carregar Imagem", htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-12">
                            @Html.EditorFor(model => model.FileImage, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.FileImage, "", new { @class = "text-danger" })
                            <div id="fileuploader">Upload</div>

                        </div>
                    </div>

                    <div class="card-footer carroimagem" style="display:none">
                        <button type="submit" id="extrabutton" class="btn btn-primary">Criar Ordem de Serviço</button>
                    </div>
                </div>
                }

    
            </div>
            <!-- /.card -->


        </div>
        <!--/.col (left) -->
        <!-- right column -->


    </div>

</div>

<script>

    $(".AddVeiculo").click(function () {

        var url = '@Url.Action("CreateVeiculo", "ServicoesDoAutomovel")';
        
        $("#modal").load(url , function () {
            $("#modal").modal();
        });
    });

    $(".RemoveVeiculo").click(function () {

        var id = $("#OperationCadastroVeiculosId").val();
        console.log(id.length);
        if (id.length > 0) {
            var url = '@Url.Action("DeleteVeiculo", "ServicoesDoAutomovel")';
            $("#modal").load(url + '?id=' + id, function () {
                $("#modal").modal();
       
            });
        }
    });

    $(".AddClientes").click(function () {

        var url = '@Url.Action("CreateCliente", "ServicoesDoAutomovel")';

        $("#modal").load(url , function () {
            $("#modal").modal();
        });
    });

    $(".RemoveClientes").click(function () {
        var id = $("#UserId").val()
        if (id.length > 0) {
            var url = '@Url.Action("DeleteCliente", "ServicoesDoAutomovel")';
            $("#modal").load(url + '?id=' + id, function () {
                $("#modal").modal();
            });
        }
        });



</script>

    <script>
        //This example show how to use upload plugin with Asp.Net C# MVC
        //The plugin use an extraHTML, download and delete buttons
        $(document).ready(function () {
            jQuery('form').submit(function () {
                extraObj.startUpload();
                var dados = jQuery(this).serialize();

                jQuery.ajax({
                    type: "POST",
                    url: "@Url.Action("Index", "ServicoesDoAutomovel")?id=" + $("#OperationCadastroVeiculosId").val(), // , new { id = Model.OperationCadastroVeiculosId })
                    data: dados,
                    success: function (data) {

                        if (data.error == 1) {
                            location.replace('@Url.Action("Index", "OrdemDeServicoes")')
                        } else {

                        }

                    }
                });

                return false;
            });

            var extraObj = $("#fileuploader").uploadFile({
                url: "@Url.Action("UploadFile", "ServicoesDoAutomovel")", // , new { id = Model.OperationCadastroVeiculosId })
                statusBarWidth: 'auto',
                dragdropWidth: 'auto',
                showDelete: true,
                showDownload: false,
                autoSubmit: false,
                showProgress: true,
                extraHTML: function () {
                    var html = "";
                    //var html = "<div><b>File Tags:</b><input type='text' name='tags' value='' /> <br/>";
                    //html += "<b>Category</b>:<select name='category'><option value='1'>ONE</option><option value='2'>TWO</option></select>";
                    //html += "</div>";

                    return html;
                }
                ,
                deleteCallback: function (data, pd) {
                    console.log(data)
                    $.post("@Url.Action("DeleteFile", "ServicoesDoAutomovel")?url=" + $("#OperationCadastroVeiculosId").val(), /// , new { id = Model.OperationCadastroVeiculosId }
                        function (resp, textStatus, jqXHR) {
                            //Show Message
                            console.log(resp, textStatus);
                           // alert(resp.msg);
                            pd.statusbar.hide(); //You choice.
                        });
                },
                //downloadCallback: function (json, pd) {
                //    console.log(pd);
                //    window.open('../Home/DownloadFile?url=' + json.url, "_blank");
                //}
            });
            //$("#extrabutton").click(function () {
            //    extraObj.startUpload();

            //});
        });
    </script>


    <script>

    $(document).ready(function () {

        var User = $("#UserId");

        //for Select2 Options: https://select2.github.io/options.html
        User.select2({
            language: "pt",//don't forget to add language script (select2/js/i18n/tr.js)
            minimumInputLength: 0, //for listing all records > set 0
            maximumInputLength: 20, //only allow terms up to 20 characters long
            multiple: false,
            placeholder: "Selecione o Cliente",
            allowClear: true,
            tags: false, //prevent free text entry
            width: "100%",

            ajax: {
                url: "@Url.Action("SearchUser")" ,
                dataType: 'json',
                delay: 250,
                data: function (params) {
                    return {
                        query: params.term, //search term
                        page: params.page
                    };
                },
                processResults: function (data, page) {
                    var newData = [];
                    $.each(data, function (index, item) {
                        newData.push({
                            //id part present in data
                            id: item.Id,
                            //string to be displayed
                            text: item.Name + " - " + item.Email
                        });
                    });
                    return { results: newData };
                },
                cache: true
            },
            escapeMarkup: function (markup) { return markup; }
        });


        //You can simply listen to the select2:select event to get the selected item
        User.on('select2:select', onSelects)

        function onSelects(evt) {
            $("#OperationCadastroVeiculosId").value = '';
            console.log($("#UserId")[0].value)
            $(".carro").show()
            $.ajax({
                url: "@Url.Action("ApplyUser")?ids=" + $("#UserId")[0].value, success: function (result) {

                }
            });

        }

        //Event example for close event
        User.on('select2:close', onClose)

        function onClose(evt) {
            //console.log('Closed…');
        }


        var veiculos = $("#OperationCadastroVeiculosId");

        //for Select2 Options: https://select2.github.io/options.html
        veiculos.select2({
            language: "pt",//don't forget to add language script (select2/js/i18n/tr.js)
            minimumInputLength: 0, //for listing all records > set 0
            maximumInputLength: 20, //only allow terms up to 20 characters long
            multiple: false,
            placeholder: "Selecione o Veiculo",
            allowClear: true,
            tags: false, //prevent free text entry
            width: "100%",

            ajax: {
                url: '@Url.Action("SearchCar")',
                dataType: 'json',
                delay: 250,
                data: function (params) {
                    return {
                        query: params.term, //search term
                        id: User.val(),
                        page: params.page
                    };
                },
                processResults: function (data, page) {
                    var newData = [];
                    $.each(data, function (index, item) {
                        newData.push({
                            //id part present in data
                            id: item.Id,
                            //string to be displayed
                            text: item.Name + " - " + item.Email
                        });
                    });
                    return { results: newData };
                },
                cache: true
            },
            escapeMarkup: function (markup) { return markup; }
        });


        //You can simply listen to the select2:select event to get the selected item
        veiculos.on('select2:select', onSelect)

        function onSelect(evt) {
            console.log($("#OperationCadastroVeiculosId")[0].value)
             $.ajax({
                 url: "@Url.Action("ApplyCar")?ids=" + $("#OperationCadastroVeiculosId")[0].value, success: function (result) {

                }
            });
            $(".carroimagem").show()
        }

        //Event example for close event
        veiculos.on('select2:close', onClose)

        function onClose(evt) {
            //console.log('Closed…');

        }

        // fim
    });

    </script>