﻿
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Styles.Render("~/Content/progresstracker")

<div class="navbar bg-white breadcrumb-bar border-bottom">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <i class="fas fa-arrow-alt-circle-left"></i> <a href="/">Back</a>
            </li>
            <li class="breadcrumb-item">
                <a href="pages-app.html">Tracker Tax Classification Process </a>
            </li>
        
        </ol>
    </nav>
    <div class="">
        <a class="btn btn-outline-light btn-sm btn-danger" >
            <i class="fas fa-cog"></i> Cancel Task
        </a>
        <a class="btn btn-outline-light btn-sm" data-toggle="dropdown" aria-expanded="false">
            <i class="fas fa-cog"></i> Change Tax Classifier
        </a>
    </div>
</div>

<div class="container" style="margin-top:50px">
    <div class="progress-tracker-mobile">
        <ul class="progress-tracker progress-tracker--text">
            <li class="progress-step is-complete">
                <span class="progress-marker"></span>
                <span class="progress-text">
                    <h4 class="progress-title">Step 1</h4>
                </span>
            </li>

            <li class="progress-step is-complete">
                <span class="progress-marker"></span>
                <span class="progress-text">
                    <h4 class="progress-title">Step 2</h4>
                </span>
            </li>

            <li class="progress-step is-active">
                <span class="progress-marker"></span>
                <span class="progress-text">
                    <h4 class="progress-title">Step 3</h4>
                </span>
            </li>

            <li class="progress-step">
                <span class="progress-marker"></span>
                <span class="progress-text">
                    <h4 class="progress-title">Step 4</h4>
                </span>
            </li>

            <li class="progress-step">
                <span class="progress-marker"></span>
                <span class="progress-text">
                    <h4 class="progress-title">Step 5</h4>
                </span>
            </li>
        </ul>
    </div>
</div>

<div>
    <div class="container-fluid">


        <div class="row">
            <!-- ============================================================== -->
            <!-- data table  -->
            <!-- ============================================================== -->
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                <div class="card">
                    <div class="card-header">
                        <h5 class="mb-0">Part Number - Tax Classification</h5>
                    
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table id="datatable" class="table table-striped table-bordered second" style="width:100%">
                                <thead>
                                    <tr>
                                        <th>Name</th>
                                        <th>Position</th>
                                        <th>Office</th>
                                        <th>Age</th>
                                        <th>Start date</th>
                                        <th>Salary</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>Tiger Nixon</td>
                                        <td>System Architect</td>
                                        <td>Edinburgh</td>
                                        <td>61</td>
                                        <td>2011/04/25</td>
                                        <td>$320,800</td>
                                    </tr>

                                </tbody>

                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ============================================================== -->
            <!-- end data table  -->
            <!-- ============================================================== -->
        </div>

    </div>


</div>

<div class="container-fluid">
    <div class="card">
        <div class="card-body">


            <div class="chat-module">
                <div class="chat-module-top">
                    <form>
                        <div class="input-group input-group-round">
                            <div class="input-group-prepend">
                                <span class="input-group-text">
                                    <i class="fas fa-search"></i>
                                </span>
                            </div>
                            <input type="search" class="form-control filter-list-input" placeholder="Search chat" aria-label="Search Chat">
                        </div>
                    </form>
                    <div class="chat-module-body">
                        <div class="media chat-item">
                            <img alt="William" src="../assets/images/avatar-1.jpg" class="rounded-circle user-avatar-lg">
                            <div class="media-body">
                                <div class="chat-item-title">
                                    <span class="chat-item-author">William</span>
                                    <span>4 days ago</span>
                                </div>
                                <div class="chat-item-body">
                                    <p>Hey guys, Phasellus imperdiet arcu venenatis, malesuada nulla a, porta sem. Curabitur nec massa ultrices, consequat erat sit amet, luctus justo. Brand Concept &amp; Design!</p>
                                </div>
                            </div>
                        </div>
                        <div class="media chat-item">
                            <img alt="Komal" src="../assets/images/avatar-2.jpg" class="rounded-circle user-avatar-lg">
                            <div class="media-body">
                                <div class="chat-item-title">
                                    <span class="chat-item-author">Komal</span>
                                    <span>4 days ago</span>
                                </div>
                                <div class="chat-item-body">
                                    <p>
                                        Nice one <a href="#">Komal</a>, Nulla ut diam porttitor odio malesuada malesuada eu at ipsum.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="media chat-item">
                            <img alt="tanu" src="../assets/images/avatar-3.jpg" class="rounded-circle user-avatar-lg">
                            <div class="media-body">
                                <div class="chat-item-title">
                                    <span class="chat-item-author">Tanu</span>
                                    <span>3 days ago</span>
                                </div>
                                <div class="chat-item-body">
                                    <p>Roger that boss! <a href="#">Ravi</a> Donec quis ante ut felis tincidunt blandit. ðŸ”¥</p>
                                </div>
                            </div>
                        </div>
                        <div class="media chat-item">
                            <img alt="Bhoomi" src="../assets/images/avatar-4.jpg" class="rounded-circle user-avatar-lg">
                            <div class="media-body">
                                <div class="chat-item-title">
                                    <span class="chat-item-author">Bhoomi</span>
                                    <span>3 days ago</span>
                                </div>
                                <div class="chat-item-body">
                                    <h1 id="-">ðŸ˜‰</h1>
                                </div>
                            </div>
                        </div>
                        <div class="media chat-item">
                            <img alt="William" src="../assets/images/avatar-1.jpg" class="rounded-circle user-avatar-lg">
                            <div class="media-body">
                                <div class="chat-item-title">
                                    <span class="chat-item-author">William</span>
                                    <span>2 days ago</span>
                                </div>
                                <div class="chat-item-body">
                                    <p>Can't wait! <a href="#">David</a> Curabitur nec massa ultrices, consequat erat sit amet, luctus justo. <a href="#">  Meeting</a>?</p>
                                </div>
                            </div>
                        </div>
                        <div class="media chat-item">
                            <img alt="Daniel" src="../assets/images/avatar-2.jpg" class="rounded-circle user-avatar-lg">
                            <div class="media-body">
                                <div class="chat-item-title">
                                    <span class="chat-item-author">Daniel</span>
                                    <span>Yesterday</span>
                                </div>
                                <div class="chat-item-body">
                                    <p>Quisque condimentum elit quis nibh condimentum, in maximus tortor viverra. ðŸ¤“</p>
                                </div>
                                <div class="media media-attachment">
                                    <div class="avatar bg-primary">
                                        <i class="fas fa-file"></i>
                                    </div>
                                    <div class="media-body">
                                        <a href="#" class="">questionnaire-draft.doc</a>
                                        <span>24kb Document</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="media chat-item">
                            <img alt="Fallon" src="../assets/images/avatar-3.jpg" class="rounded-circle user-avatar-lg">
                            <div class="media-body">
                                <div class="chat-item-title">
                                    <span class="chat-item-author">Fallon</span>
                                    <span>2 hours ago</span>
                                </div>
                                <div class="chat-item-body">
                                    <p>Great start guys, Fusce tempus ipsum a mi rutrum, at dignissim mauris vulputate.</p>
                                </div>
                            </div>
                        </div>
                        <div class="media chat-item">
                            <img alt="Kimberly" src="../assets/images/avatar-4.jpg" class="rounded-circle user-avatar-lg">
                            <div class="media-body">
                                <div class="chat-item-title">
                                    <span class="chat-item-author">Kimberly</span>
                                    <span>Just now</span>
                                </div>
                                <div class="chat-item-body">
                                    <p>Well done <a href="#">all</a>. See you all Fusce tempus ipsum a mi rutrum, at dignissim mauris vulputate. ðŸ¤œ</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="chat-module-bottom">
                    <form class="chat-form">
                        <textarea class="form-control" placeholder="Type message" rows="1"></textarea>
                        <div class="chat-form-buttons">
                            <button type="button" class="btn btn-link">
                                <i class="far fa-smile"></i>
                            </button>
                            <div class="custom-file custom-file-naked">
                                <input type="file" class="custom-file-input" id="customFile">
                                <label class="custom-file-label" for="customFile">
                                    <i class="fas fa-paperclip"></i>
                                </label>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="chat-sidebar collapse" id="sidebar-collapse">
                <div class="chat-sidebar-content">
                    <div class="chat-team-sidebar text-small">
                        <div class="chat-team-sidebar-top">
                            <div class="media align-items-center">
                                <a href="#" class="mr-2">
                                    <img alt="Team Avatar" src="../assets/images/avatar-2.jpg" class="rounded-circle user-avatar-xl">
                                </a>
                                <div class="media-body">
                                    <h5 class="mb-1">Pipeline Fans</h5>
                                    <p>A collective of Pipeline enthusiasts sharing the the love</p>
                                </div>
                            </div>
                            <ul class="nav nav-tabs nav-justified" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active show" id="members-tab" data-toggle="tab" href="#members" role="tab" aria-controls="members" aria-selected="true">Members</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="files-tab" data-toggle="tab" href="#files" role="tab" aria-controls="files" aria-selected="false">Files</a>
                                </li>
                            </ul>
                        </div>
                        <div class="chat-team-sidebar-bottom">
                            <div class="tab-content">
                                <div class="tab-pane fade active show" id="members" role="tabpanel" aria-labelledby="members-tab" data-filter-list="list-group">
                                    <div id="test-list">
                                        <form class="px-3 mb-3">
                                            <div class="input-group input-group-round">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text">
                                                        <i class="fas fa-search"></i>
                                                    </span>
                                                </div>
                                                <input type="text" class="form-control search" placeholder="Filter members" aria-label="Filter Members">
                                            </div>
                                        </form>
                                        <div class="list-group list-group-flush  list">
                                            <a class="list-group-item list-group-item-action" href="#">
                                                <div class="media media-member mb-0">
                                                    <img alt="Claire Connors" src="../assets/images/avatar-1.jpg" class="avatar">
                                                    <div class="media-body ">
                                                        <h6 class="mb-0 name">Claire Connors</h6>
                                                        <span class="name">Administrator</span>
                                                    </div>
                                                </div>
                                            </a>
                                            <a class="list-group-item list-group-item-action" href="#">
                                                <div class="media media-member mb-0">
                                                    <img alt="Marcus Simmons" src="../assets/images/avatar-2.jpg" class="avatar">
                                                    <div class="media-body">
                                                        <h6 class="mb-0 name">Marcus Simmons</h6>
                                                        <span class="name">Administrator</span>
                                                    </div>
                                                </div>
                                            </a>
                                            <a class="list-group-item list-group-item-action" href="#">
                                                <div class="media media-member mb-0">
                                                    <img alt="Peggy Brown" src="../assets/images/avatar-3.jpg" class="avatar">
                                                    <div class="media-body">
                                                        <h6 class="mb-0 name">Peggy Brown</h6>
                                                        <span class="name">Project Manager</span>
                                                    </div>
                                                </div>
                                            </a>
                                            <a class="list-group-item list-group-item-action" href="#">
                                                <div class="media media-member mb-0">
                                                    <img alt="Harry Xai" src="../assets/images/avatar-3.jpg" class="avatar">
                                                    <div class="media-body">
                                                        <h6 class="mb-0 name">Harry Xai</h6>
                                                        <span class="name">Project Manager</span>
                                                    </div>
                                                </div>
                                            </a>
                                            <a class="list-group-item list-group-item-action" href="#">
                                                <div class="media media-member mb-0">
                                                    <img alt="Sally Harper" src="../assets/images/avatar-1.jpg" class="avatar">
                                                    <div class="media-body">
                                                        <h6 class="mb-0 name">Sally Harper</h6>
                                                        <span class="name">Developer</span>
                                                    </div>
                                                </div>
                                            </a>
                                            <a class="list-group-item list-group-item-action" href="#">
                                                <div class="media media-member mb-0">
                                                    <img alt="Ravi Singh" src="../assets/images/avatar-2.jpg" class="avatar">
                                                    <div class="media-body">
                                                        <h6 class="mb-0 name">Ravi Singh</h6>
                                                        <span class="name">Developer</span>
                                                    </div>
                                                </div>
                                            </a>
                                            <a class="list-group-item list-group-item-action" href="#">
                                                <div class="media media-member mb-0">
                                                    <img alt="David Whittaker" src="../assets/images/avatar-3.jpg" class="avatar">
                                                    <div class="media-body">
                                                        <h6 class="mb-0 name">David Whittaker</h6>
                                                        <span class="name">Designer</span>
                                                    </div>
                                                </div>
                                            </a>
                                            <a class="list-group-item list-group-item-action" href="#">
                                                <div class="media media-member mb-0">
                                                    <img alt="Kerri-Anne Banks" src="../assets/images/avatar-4.jpg" class="avatar ">
                                                    <div class="media-body ">
                                                        <h6 class="mb-0 name ">Kerri-Anne Banks</h6>
                                                        <span class="name ">Marketing</span>
                                                    </div>
                                                </div>
                                            </a>
                                            <a class="list-group-item list-group-item-action " href="# ">
                                                <div class="media media-member mb-0 ">
                                                    <img alt="Masimba Sibanda " src="../assets/images/avatar-3.jpg" class="avatar">
                                                    <div class="media-body">
                                                        <h6 class="mb-0 name">Masimba Sibanda</h6>
                                                        <span class="name">Designer</span>
                                                    </div>
                                                </div>
                                            </a>
                                            <a class="list-group-item list-group-item-action" href="#">
                                                <div class="media media-member mb-0">
                                                    <img alt="Krishna Bajaj" src="../assets/images/avatar-2.jpg" class="avatar ">
                                                    <div class="media-body ">
                                                        <h6 class="mb-0 name ">Krishna Bajaj</h6>
                                                        <span class="name ">Marketing</span>
                                                    </div>
                                                </div>
                                            </a>
                                            <a class="list-group-item list-group-item-action " href="# ">
                                                <div class="media media-member mb-0 ">
                                                    <img alt="Kenny Tran " src="../assets/images/avatar-1.jpg" class="avatar">
                                                    <div class="media-body">
                                                        <h6 class="mb-0 name">Kenny Tran</h6>
                                                        <span class="name">Contributor</span>
                                                    </div>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="files" role="tabpanel" aria-labelledby="files-tab" data-filter-list="dropzone-previews">
                                    <div id="test-list-2">
                                        <form class="px-3 mb-3">
                                            <div class="input-group input-group-round">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text">
                                                        <i class="fas fa-search"></i>
                                                    </span>
                                                </div>
                                                <input type="text" class="form-control search" placeholder="Filter members" aria-label="Filter Members">
                                            </div>
                                        </form>
                                        <ul class="d-none dz-template list-unstyled">
                                            <li class="list-group-item dz-preview dz-file-preview">
                                                <div class="media align-items-center dz-details">
                                                    <ul class="avatars list-unstyled">
                                                        <li>
                                                            <div class="avatar bg-primary dz-file-representation">
                                                                <img src="https://jituchauhan.com/" class="avatar" data-dz-thumbnail="" alt="">
                                                                <i class="fas fa-paperclip"></i>
                                                            </div>
                                                        </li>
                                                        <li>
                                                            <img alt="David Whittaker" src="../assets/images/avatar-4.jpg" class="avatar" data-title="David Whittaker" data-toggle="tooltip">
                                                        </li>
                                                    </ul>
                                                    <div class="media-body d-flex justify-content-between align-items-center">
                                                        <div class="dz-file-details">
                                                            <a href="#" class="dz-filename">
                                                                <span data-dz-name=""></span>
                                                            </a>
                                                            <br>
                                                            <span class="text-small dz-size" data-dz-size=""></span>
                                                        </div>
                                                        <img alt="Loader" src="../assets/images/loader.svg" class="dz-loading">
                                                        <div class="dropdown">
                                                            <button class="btn-options" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                                <i class="fas fa-ellipsis-v"></i>
                                                            </button>
                                                            <div class="dropdown-menu dropdown-menu-right">
                                                                <a class="dropdown-item" href="#">Download</a>
                                                                <a class="dropdown-item" href="#">Share</a>
                                                                <div class="dropdown-divider"></div>
                                                                <a class="dropdown-item text-danger" href="#" data-dz-remove="">Delete</a>
                                                            </div>
                                                        </div>
                                                        <button class="btn btn-danger btn-sm dz-remove" data-dz-remove="">
                                                            Cancel
                                                        </button>
                                                    </div>
                                                </div>
                                                <div class="progress dz-progress">
                                                    <div class="progress-bar dz-upload" data-dz-uploadprogress=""></div>
                                                </div>
                                            </li>
                                        </ul>
                                        <form class="dropzone dz-clickable" action="http://mediumra.re/dropzone/upload.php">
                                            <span class="dz-message">Drop files here or click here to upload</span>
                                        </form>
                                        <ul class="list-group list-group-activity dropzone-previews flex-column-reverse list-group-flush list ">
                                            <li class="list-group-item" data-t="null" data-i="null" data-l="null" data-e="null">
                                                <div class="media align-items-center">
                                                    <ul class="avatars list-unstyled">
                                                        <li>
                                                            <div class="avatar bg-primary">
                                                                <i class="fas fa-file"></i>
                                                            </div>
                                                        </li>
                                                        <li>
                                                            <img alt="Peggy Brown" src="../assets/images/avatar-1.jpg" class="avatar filter-by-data-title" data-title="Peggy Brown" data-toggle="tooltip" data-filter-by="data-title">
                                                        </li>
                                                    </ul>
                                                    <div class="media-body d-flex justify-content-between align-items-center">
                                                        <div>
                                                            <a href="#" class="name">client-questionnaire</a>
                                                            <br>
                                                            <span class="name">48kb Text Doc</span>
                                                        </div>
                                                        <div class="dropdown">
                                                            <button class="btn-options" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                                <i class="fas fa-ellipsis-v"></i>
                                                            </button>
                                                            <div class="dropdown-menu dropdown-menu-right">
                                                                <a class="dropdown-item" href="#">Download</a>
                                                                <a class="dropdown-item" href="#">Share</a>
                                                                <div class="dropdown-divider"></div>
                                                                <a class="dropdown-item text-danger" href="#">Delete</a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="list-group-item">
                                                <div class="media align-items-center">
                                                    <ul class="avatars list-unstyled">
                                                        <li>
                                                            <div class="avatar bg-primary">
                                                                <i class="fas fa-file"></i>
                                                            </div>
                                                        </li>
                                                        <li>
                                                            <img alt="Harry Xai" src="../assets/images/avatar-2.jpg" class="avatar filter-by-data-title" data-title="Harry Xai" data-toggle="tooltip" data-filter-by="data-title">
                                                        </li>
                                                    </ul>
                                                    <div class="media-body d-flex justify-content-between align-items-center">
                                                        <div>
                                                            <a href="#" class="name">moodboard_images</a>
                                                            <br>
                                                            <span class="name">748kb ZIP</span>
                                                        </div>
                                                        <div class="dropdown">
                                                            <button class="btn-options" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                                <i class="fas fa-ellipsis-v"></i>
                                                            </button>
                                                            <div class="dropdown-menu dropdown-menu-right">
                                                                <a class="dropdown-item" href="#">Download</a>
                                                                <a class="dropdown-item" href="#">Share</a>
                                                                <div class="dropdown-divider"></div>
                                                                <a class="dropdown-item text-danger" href="#">Delete</a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="list-group-item">
                                                <div class="media align-items-center">
                                                    <ul class="avatars list-unstyled">
                                                        <li>
                                                            <div class="avatar bg-primary">
                                                                <i class="fas fa-image"></i>
                                                            </div>
                                                        </li>
                                                        <li>
                                                            <img alt="Ravi Singh" src="../assets/images/avatar-4.jpg" class="avatar filter-by-data-title" data-title="Ravi Singh" data-toggle="tooltip" data-filter-by="data-title">
                                                        </li>
                                                    </ul>
                                                    <div class="media-body d-flex justify-content-between align-items-center">
                                                        <div>
                                                            <a href="#" class="name">possible-hero-image</a>
                                                            <br>
                                                            <span class="name">1.2mb JPEG image</span>
                                                        </div>
                                                        <div class="dropdown">
                                                            <button class="btn-options" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                                <i class="fas fa-ellipsis-v"></i>
                                                            </button>
                                                            <div class="dropdown-menu dropdown-menu-right">
                                                                <a class="dropdown-item" href="#">Download</a>
                                                                <a class="dropdown-item" href="#">Share</a>
                                                                <div class="dropdown-divider"></div>
                                                                <a class="dropdown-item text-danger" href="#">Delete</a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="list-group-item">
                                                <div class="media align-items-center">
                                                    <ul class="avatars list-unstyled">
                                                        <li>
                                                            <div class="avatar bg-primary">
                                                                <i class="fas fa-file"></i>
                                                            </div>
                                                        </li>
                                                        <li>
                                                            <img alt="Claire Connors" src="../assets/images/avatar-3.jpg" class="avatar filter-by-data-title" data-title="Claire Connors" data-toggle="tooltip" data-filter-by="data-title">
                                                        </li>
                                                    </ul>
                                                    <div class="media-body d-flex justify-content-between align-items-center">
                                                        <div>
                                                            <a href="#" class="name">LandingPrototypes</a>
                                                            <br>
                                                            <span class="name">415kb Sketch Doc</span>
                                                        </div>
                                                        <div class="dropdown">
                                                            <button class="btn-options" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                                <i class="fas fa-ellipsis-v"></i>
                                                            </button>
                                                            <div class="dropdown-menu dropdown-menu-right">
                                                                <a class="dropdown-item" href="#">Download</a>
                                                                <a class="dropdown-item" href="#">Share</a>
                                                                <div class="dropdown-divider"></div>
                                                                <a class="dropdown-item text-danger" href="#">Delete</a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="list-group-item">
                                                <div class="media align-items-center">
                                                    <ul class="avatars list-unstyled">
                                                        <li>
                                                            <div class="avatar bg-primary">
                                                                <i class="fas fa-file"></i>
                                                            </div>
                                                        </li>
                                                        <li>
                                                            <img alt="David Whittaker" src="../assets/images/avatar-4.jpg" class="avatar filter-by-data-title" data-title="David Whittaker" data-toggle="tooltip" data-filter-by="data-title">
                                                        </li>
                                                    </ul>
                                                    <div class="media-body d-flex justify-content-between align-items-center">
                                                        <div>
                                                            <a href="#" class="name">Branding-Proforma</a>
                                                            <br>
                                                            <span class="name">15kb Text Document</span>
                                                        </div>
                                                        <div class="dropdown">
                                                            <button class="btn-options" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                                <i class="fas fa-ellipsis-v"></i>
                                                            </button>
                                                            <div class="dropdown-menu dropdown-menu-right">
                                                                <a class="dropdown-item" href="#">Download</a>
                                                                <a class="dropdown-item" href="#">Share</a>
                                                                <div class="dropdown-divider"></div>
                                                                <a class="dropdown-item text-danger" href="#">Delete</a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="list-group-item">
                                                <div class="media align-items-center">
                                                    <ul class="avatars list-unstyled">
                                                        <li>
                                                            <div class="avatar bg-primary">
                                                                <i class="fas fa-file"></i>
                                                            </div>
                                                        </li>
                                                        <li>
                                                            <img alt="David Whittaker" src="../assets/images/avatar-4.jpg" class="avatar filter-by-data-title" data-title="David Whittaker" data-toggle="tooltip" data-filter-by="data-title">
                                                        </li>
                                                    </ul>
                                                    <div class="media-body d-flex justify-content-between align-items-center">
                                                        <div>
                                                            <a href="#" class="name">Branding-Proforma</a>
                                                            <br>
                                                            <span class="name">15kb Text Document</span>
                                                        </div>
                                                        <div class="dropdown">
                                                            <button class="btn-options" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                                <i class="fas fa-ellipsis-v"></i>
                                                            </button>
                                                            <div class="dropdown-menu dropdown-menu-right">
                                                                <a class="dropdown-item" href="#">Download</a>
                                                                <a class="dropdown-item" href="#">Share</a>
                                                                <div class="dropdown-divider"></div>
                                                                <a class="dropdown-item text-danger" href="#">Delete</a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="list-group-item">
                                                <div class="media align-items-center">
                                                    <ul class="avatars list-unstyled">
                                                        <li>
                                                            <div class="avatar bg-primary">
                                                                <i class="fas fa-file"></i>
                                                            </div>
                                                        </li>
                                                        <li>
                                                            <img alt="David Whittaker" src="../assets/images/avatar-4.jpg" class="avatar filter-by-data-title" data-title="David Whittaker" data-toggle="tooltip" data-filter-by="data-title">
                                                        </li>
                                                    </ul>
                                                    <div class="media-body d-flex justify-content-between align-items-center">
                                                        <div>
                                                            <a href="#" class="name">Branding-Proforma</a>
                                                            <br>
                                                            <span class="name">15kb Text Document</span>
                                                        </div>
                                                        <div class="dropdown">
                                                            <button class="btn-options" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                                <i class="fas fa-ellipsis-v"></i>
                                                            </button>
                                                            <div class="dropdown-menu dropdown-menu-right">
                                                                <a class="dropdown-item" href="#">Download</a>
                                                                <a class="dropdown-item" href="#">Share</a>
                                                                <div class="dropdown-divider"></div>
                                                                <a class="dropdown-item text-danger" href="#">Delete</a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="list-group-item">
                                                <div class="media align-items-center">
                                                    <ul class="avatars list-unstyled">
                                                        <li>
                                                            <div class="avatar bg-primary">
                                                                <i class="fas fa-file"></i>
                                                            </div>
                                                        </li>
                                                        <li>
                                                            <img alt="David Whittaker" src="../assets/images/avatar-4.jpg" class="avatar filter-by-data-title" data-title="David Whittaker" data-toggle="tooltip" data-filter-by="data-title">
                                                        </li>
                                                    </ul>
                                                    <div class="media-body d-flex justify-content-between align-items-center">
                                                        <div>
                                                            <a href="#" class="name">Branding-Proforma</a>
                                                            <br>
                                                            <span class="name">15kb Text Document</span>
                                                        </div>
                                                        <div class="dropdown">
                                                            <button class="btn-options" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                                <i class="fas fa-ellipsis-v"></i>
                                                            </button>
                                                            <div class="dropdown-menu dropdown-menu-right">
                                                                <a class="dropdown-item" href="#">Download</a>
                                                                <a class="dropdown-item" href="#">Share</a>
                                                                <div class="dropdown-divider"></div>
                                                                <a class="dropdown-item text-danger" href="#">Delete</a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="list-group-item">
                                                <div class="media align-items-center">
                                                    <ul class="avatars list-unstyled">
                                                        <li>
                                                            <div class="avatar bg-primary">
                                                                <i class="fas fa-file"></i>
                                                            </div>
                                                        </li>
                                                        <li>
                                                            <img alt="David Whittaker" src="../assets/images/avatar-4.jpg" class="avatar filter-by-data-title" data-title="David Whittaker" data-toggle="tooltip" data-filter-by="data-title">
                                                        </li>
                                                    </ul>
                                                    <div class="media-body d-flex justify-content-between align-items-center">
                                                        <div>
                                                            <a href="#" class="name">Branding-Proforma</a>
                                                            <br>
                                                            <span class="name">15kb Text Document</span>
                                                        </div>
                                                        <div class="dropdown">
                                                            <button class="btn-options" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                                <i class="fas fa-ellipsis-v"></i>
                                                            </button>
                                                            <div class="dropdown-menu dropdown-menu-right">
                                                                <a class="dropdown-item" href="#">Download</a>
                                                                <a class="dropdown-item" href="#">Share</a>
                                                                <div class="dropdown-divider"></div>
                                                                <a class="dropdown-item text-danger" href="#">Delete</a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="list-group-item">
                                                <div class="media align-items-center">
                                                    <ul class="avatars list-unstyled">
                                                        <li>
                                                            <div class="avatar bg-primary">
                                                                <i class="fas fa-file"></i>
                                                            </div>
                                                        </li>
                                                        <li>
                                                            <img alt="David Whittaker" src="../assets/images/avatar-4.jpg" class="avatar filter-by-data-title" data-title="David Whittaker" data-toggle="tooltip" data-filter-by="data-title">
                                                        </li>
                                                    </ul>
                                                    <div class="media-body d-flex justify-content-between align-items-center">
                                                        <div>
                                                            <a href="#" class="name">Branding-Proforma</a>
                                                            <br>
                                                            <span class="name">15kb Text Document</span>
                                                        </div>
                                                        <div class="dropdown">
                                                            <button class="btn-options" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                                <i class="fas fa-ellipsis-v"></i>
                                                            </button>
                                                            <div class="dropdown-menu dropdown-menu-right">
                                                                <a class="dropdown-item" href="#">Download</a>
                                                                <a class="dropdown-item" href="#">Share</a>
                                                                <div class="dropdown-divider"></div>
                                                                <a class="dropdown-item text-danger" href="#">Delete</a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="list-group-item">
                                                <div class="media align-items-center">
                                                    <ul class="avatars list-unstyled">
                                                        <li>
                                                            <div class="avatar bg-primary">
                                                                <i class="fas fa-file"></i>
                                                            </div>
                                                        </li>
                                                        <li>
                                                            <img alt="David Whittaker" src="../assets/images/avatar-4.jpg" class="avatar filter-by-data-title" data-title="David Whittaker" data-toggle="tooltip" data-filter-by="data-title">
                                                        </li>
                                                    </ul>
                                                    <div class="media-body d-flex justify-content-between align-items-center">
                                                        <div>
                                                            <a href="#" class="name">Branding-Proforma</a>
                                                            <br>
                                                            <span class="name">15kb Text Document</span>
                                                        </div>
                                                        <div class="dropdown">
                                                            <button class="btn-options" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                                <i class="fas fa-ellipsis-v"></i>
                                                            </button>
                                                            <div class="dropdown-menu dropdown-menu-right">
                                                                <a class="dropdown-item" href="#">Download</a>
                                                                <a class="dropdown-item" href="#">Share</a>
                                                                <div class="dropdown-divider"></div>
                                                                <a class="dropdown-item text-danger" href="#">Delete</a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
