﻿<footer class="main-footer">
    <div class="float-right d-none d-sm-block">
        <b>Version</b> 0.0.1
    </div>
    <strong>Copyright &copy; 2019 <a href="#">Danilo Rosa</a>.</strong> All rights
    reserved.
</footer>