﻿@{ 
    var current_Oficina = Session[SystemConstants.SessionOficina] as DataLayer.DbSystem.Models.TbOperationCadastroOficina;
}
@using BusinessLayer.Security;
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>SMV Sistema de Manutenção Veicular </title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    @Styles.Render("~/Content/css")

    @Styles.Render("~/Content/datatables")
    @Styles.Render("~/Content/fonts")

    @Scripts.Render("~/bundles/scripts")
    @Scripts.Render("~/bundles/datatable")

    @Styles.Render("~/Content/load")

    @Scripts.Render("~/bundles/load")
</head>
<body class="hold-transition sidebar-mini layout-footer-fixed">
    <!-- Site wrapper -->
    <div class="wrapper">
        <!-- Navbar -->
        <nav class="main-header navbar navbar-expand navbar-white navbar-light border-bottom">
            <!-- Left navbar links -->
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" data-widget="pushmenu" href="#"><i class="fas fa-bars"></i></a>
                </li>

            </ul>


            <!-- Right navbar links -->
            <ul class="navbar-nav ml-auto">
                <!-- Brand Logo -->
       
                    <img src="~/Images/SMV.jpeg"
                         alt="SMV"
                         class="brand-image "
                         style="opacity: .8" />
                    <span class="brand-text font-weight-light"></span>
              
            </ul>
        </nav>
        <!-- /.navbar -->
        <!-- Main Sidebar Container -->
        <aside class="main-sidebar sidebar-dark-secondary elevation-4">
            <!-- Brand Logo -->
            @if (current_Oficina != null) {
                <a href="/" class="brand-link">
                    <img src="@current_Oficina.LogoBase64"
                         
                         class="brand-image "
                         style="opacity: 1; width:10%; height:10%" />
                    <span class="brand-text font-weight-light">@current_Oficina.Name</span>
                </a>
            }
            <!-- Sidebar -->
            <div class="sidebar">
                <!-- Sidebar user (optional) -->
                <div class="user-panel mt-3 pb-3 mb-3 d-flex">
                  
                    <div class="info">
                        <a href="#" class="d-block"><span><i class="fa fa-fw fa-user"></i></span> @Session["displayname"]</a>
                    </div>
                </div>

                <!-- Sidebar Menu -->
                @Html.Partial("_MenuHeadBar")
                <!-- /.sidebar-menu -->
            </div>
      
            <!-- /.sidebar -->
        </aside>

        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <div class="content-header">
                <div class="container-fluid">
                    <!-- Main content -->
                    <section class="content">
                         <section id="DivAlertMessage" class="content-header">
                            @if (@TempData["message"] != null)
                            {
                     
                                <div class="alert @TempData["messageType"] alert-dismissible" role="alert">
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                    <strong>@TempData["message"]</strong>
                                </div>
                            }
                        </section>
                        @RenderBody()
                        @*<!-- Default box -->
                            <div class="card">
                                <div class="card-header">
                                    <h3 class="card-title">Title</h3>

                                    <div class="card-tools">
                                        <button type="button" class="btn btn-tool" data-widget="collapse" data-toggle="tooltip" title="Collapse">
                                            <i class="fas fa-minus"></i>
                                        </button>
                                        <button type="button" class="btn btn-tool" data-widget="remove" data-toggle="tooltip" title="Remove">
                                            <i class="fas fa-times"></i>
                                        </button>
                                    </div>
                                </div>
                                <div class="card-body">
                                    Start creating your amazing application!
                                </div>
                                <!-- /.card-body -->
                                <div class="card-footer">
                                    Footer
                                </div>
                                <!-- /.card-footer-->
                            </div>*@
                        <!-- /.card -->

                    </section>
                    <!-- /.content -->
                </div>
            </div>
        </div>
        <!-- /.content-wrapper -->
        @Html.Partial("_Footer")



    </div>
    <div class="modal fade" tabindex="-1" role="dialog" id="modal" aria-hidden="true"></div>
</body>
</html>
