﻿
<div class="nav-left-sidebar sidebar-dark">
    <div class="menu-list">
        <nav class="navbar navbar-expand-lg navbar-light">
            <a class="d-xl-none d-lg-none" href="#">Menu</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav flex-column">

                    <li class="nav-divider">
                        Oficina
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="@Url.Action("Index","CadastroCliente", new { Area = "Oficina" })"><i class="fa fa-fw fa-user-circle"></i>Clientes</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="@Url.Action("Index","CadastroServicoes", new { Area = "Oficina" })"><i class="fa fa-fw fa-user-circle"></i>Servicos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="@Url.Action("Index","CadastroTipoDeServicos", new { Area = "Oficina" })"><i class="fa fa-fw fa-user-circle"></i>Tipo do Servicos</a>
                    </li>


                    <li class="nav-divider">
                        Administração
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="@Url.Action("Index","CadastroOficina", new { Area = "Oficina" })"><i class="fa fa-fw fa-ban"></i>Oficinas</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="@Url.Action("Index","Permission", new { Area = "Admin" })"><i class="fa fa-fw fa-ban"></i>Permissoes</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="@Url.Action("Index","Employees", new { Area = "Admin" })"><i class="fa fa-fw fa-user-circle"></i>Usuarios</a>
                    </li>


                    <li class="nav-divider">
                        Manutenções
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="@Url.Action("Index","OrdemDeServicoes", new { Area = "Oficina" })"><i class="fa fa-fw fa-user-circle"></i>Lista de Solicitações Pendentes</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="@Url.Action("Index","CadastroVeiculo", new { Area = "Oficina" })"><i class="fa fa-fw fa-user-circle"></i>Solicitar Manutenção</a>
                    </li>


                    <li class="nav-divider">
                        Suporte
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="@Url.Action("Index","Permissions", new { Area = "Support" })"><i class="fa fa-fw fa-ban"></i>Permissoes</a>
                        @*<a class="nav-link" href="@Url.Action("Index","Companies", new { Area = "Suport" })"><i class="fa fa-fw fa-ban"></i>Permissoes</a>*@

                    </li>


                    <li class="nav-divider">
                        Usuario
                    </li>
                    <li class="nav-item">

                        <a class="nav-link" href="@Url.Action("Logout","Account", new { Area = "" })"><i class="fa fa-fw fa-ban"></i>Sair</a>

                    </li>

                </ul>
            </div>
        </nav>
    </div>
</div>
