﻿@model Pegasus.Areas.Oficina.Models.FormulariodeServicos

<div class="form-group  col-3">
    @Html.LabelFor(m => Model.OperationCadastroVeiculos.Placa, new { @class = "control-label col-md-12" })
    @Html.TextBoxFor(m => Model.OperationCadastroVeiculos.Placa, new { @class = "form-control" })
    @Html.ValidationMessageFor(model => Model.OperationCadastroVeiculos.Placa, "", new { @class = "text-danger" })
</div>
<div class="form-group  col-3">
    @Html.LabelFor(m => Model.OperationCadastroVeiculos.Marca, new { @class = "control-label col-md-12" })
    @Html.TextBoxFor(m => Model.OperationCadastroVeiculos.Marca, new { @class = "form-control" })
    @Html.ValidationMessageFor(model => Model.OperationCadastroVeiculos.Marca, "", new { @class = "text-danger" })
</div>
<div class="form-group  col-3">
    @Html.LabelFor(m => Model.OperationCadastroVeiculos.Modelo, new { @class = "control-label col-md-12" })
    @Html.TextBoxFor(m => Model.OperationCadastroVeiculos.Modelo, new { @class = "form-control" })
    @Html.ValidationMessageFor(model => Model.OperationCadastroVeiculos.Modelo, "", new { @class = "text-danger" })

</div>
<div class="form-group col-3">
    @Html.LabelFor(m => Model.OperationCadastroVeiculos.Ano, new { @class = "control-label col-md-12" })
    @Html.TextBoxFor(m => Model.OperationCadastroVeiculos.Ano, new { @class = "form-control" })
    @Html.ValidationMessageFor(model => Model.OperationCadastroVeiculos.Ano, "", new { @class = "text-danger" })

</div>
<div class="form-group col-3">
    @Html.LabelFor(m => Model.OperationCadastroVeiculos.Motor, new { @class = "control-label col-md-12" })
    @Html.TextBoxFor(m => Model.OperationCadastroVeiculos.Motor, new { @class = "form-control" })
    @Html.ValidationMessageFor(model => Model.OperationCadastroVeiculos.Motor, "", new { @class = "text-danger" })

</div>
<div class="form-group col-3">
    @Html.LabelFor(m => Model.OperationCadastroVeiculos.Potencia, new { @class = "control-label col-md-12" })
    @Html.TextBoxFor(m => Model.OperationCadastroVeiculos.Potencia, new { @class = "form-control" })
    @Html.ValidationMessageFor(model => Model.OperationCadastroVeiculos.Potencia, "", new { @class = "text-danger" })

</div>
<div class="form-group col-1">
    @Html.LabelFor(m => Model.OperationCadastroVeiculos.Ar, new { @class = "control-label col-md-12" })
    @Html.CheckBoxFor(m => Model.OperationCadastroVeiculos.Ar, new { @class = "form-control" })
    @Html.ValidationMessageFor(model => Model.OperationCadastroVeiculos.Ar, "", new { @class = "text-danger" })

</div>
<div class="form-group col-2">
    @Html.LabelFor(m => Model.OperationCadastroVeiculos.DirecaoHidraulica, new { @class = "control-label col-md-12" })
    @Html.CheckBoxFor(m => Model.OperationCadastroVeiculos.DirecaoHidraulica, new { @class = "form-control" })
    @Html.ValidationMessageFor(model => Model.OperationCadastroVeiculos.DirecaoHidraulica, "", new { @class = "text-danger" })

</div>
<div class="form-group col-2">
    @Html.LabelFor(m => Model.OperationCadastroVeiculos.Km, new { @class = "control-label col-md-12" })
    @Html.TextBoxFor(m => Model.OperationCadastroVeiculos.Km, new { @class = "form-control" })
    @Html.ValidationMessageFor(model => Model.OperationCadastroVeiculos.Km, "", new { @class = "text-danger" })

</div>
<div class="form-group col-2  ">
    @Html.LabelFor(m => Model.OperationCadastroVeiculos.MediaKmRodadoPorMes, new { @class = "control-label col-md-12" })
    @Html.TextBoxFor(m => Model.OperationCadastroVeiculos.MediaKmRodadoPorMes, new { @class = "form-control" })
    @Html.ValidationMessageFor(model => Model.OperationCadastroVeiculos.MediaKmRodadoPorMes, "", new { @class = "text-danger" })

</div>
