﻿@model DataLayer.DbSystem.Models.TbSystemUser

<div class="modal-dialog">
    <div class="modal-content">

        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
            <h4 class="modal-title">Deletar</h4>
        </div>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="modal-body">
                <h3>Deseja deletar?</h3>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-danger pull-left" data-dismiss="modal"><span class="fa fa-ban fa-right"></span>Não</button>
                <button type="submit" class="btn btn-success"><span class="fa fa-save fa-right"></span>Sim</button>
            </div>
        }
    </div>
</div>
