﻿@model Pegasus.Areas.Oficina.Models.FormulariodeServicos

@{
    ViewBag.Title = "Criação da ordem de Serviço";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@if (Model.OperationCadastroVeiculos.OperationCadastroVeiculosId == Guid.Empty)
{

    using (Html.BeginForm("CreateOrder", "ServicoesDoAutomovel", FormMethod.Post,
                                          new { enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(p => Model.OperationCadastroOficinaId)
        <div class="col-md-2">
            <!-- general form elements -->
            <div class="card card-primary">
                <div class="card-header">
                    <h3 class="card-title">Oficinas Cadastro</h3>
                </div>
                <!-- /.card-header -->
                <!-- form start -->

                <div class="card-body">
                    <div class="form-row">

                        <div class="form-group carro">
                            <div class="col-md-12">
                                @Html.Label("Veiculo", htmlAttributes: new { @class = "control-label " })
                                @*<button class="close createCustomer AddVeiculo" title="Add Customer" data-id="0" type="button">+</button>
                                    <button class="close createCustomer RemoveVeiculo" type="button" title="Remove Customer" data-id="0">-</button>*@

                                @Html.DropDownListFor(m => m.OperationCadastroVeiculosId, Enumerable.Empty<SelectListItem>(), "Select", new { htmlAttributes = new { @class = "form-control col-md-12 select2-selection select2-selection--single" } })

                                @Html.ValidationMessageFor(model => model.OperationCadastroVeiculosId, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.card-body -->
            </div>
            <!-- /.card -->

        </div>


        <div class="col-md-12">
            <!-- general form elements -->
            <div class="card card-primary">
                <div class="card-header">
                    <h3 class="card-title">Carro</h3>
                </div>
                <!-- /.card-header -->
                <!-- form start -->

                <div class="card-body">
                    <div class="form-row " id="carroResult">
                        <div class="form-group  col-3">
                            @Html.LabelFor(m => Model.OperationCadastroVeiculos.Placa, new { @class = "control-label col-md-12" })
                            @Html.TextBoxFor(m => Model.OperationCadastroVeiculos.Placa, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => Model.OperationCadastroVeiculos.Placa, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group  col-3">
                            @Html.LabelFor(m => Model.OperationCadastroVeiculos.Marca, new { @class = "control-label col-md-12" })
                            @Html.TextBoxFor(m => Model.OperationCadastroVeiculos.Marca, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => Model.OperationCadastroVeiculos.Marca, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group  col-3">
                            @Html.LabelFor(m => Model.OperationCadastroVeiculos.Modelo, new { @class = "control-label col-md-12" })
                            @Html.TextBoxFor(m => Model.OperationCadastroVeiculos.Modelo, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => Model.OperationCadastroVeiculos.Modelo, "", new { @class = "text-danger" })

                        </div>
                        <div class="form-group col-3">
                            @Html.LabelFor(m => Model.OperationCadastroVeiculos.Ano, new { @class = "control-label col-md-12" })
                            @Html.TextBoxFor(m => Model.OperationCadastroVeiculos.Ano, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => Model.OperationCadastroVeiculos.Ano, "", new { @class = "text-danger" })

                        </div>
                        <div class="form-group col-3">
                            @Html.LabelFor(m => Model.OperationCadastroVeiculos.Motor, new { @class = "control-label col-md-12" })
                            @Html.TextBoxFor(m => Model.OperationCadastroVeiculos.Motor, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => Model.OperationCadastroVeiculos.Motor, "", new { @class = "text-danger" })

                        </div>
                        <div class="form-group col-3">
                            @Html.LabelFor(m => Model.OperationCadastroVeiculos.Potencia, new { @class = "control-label col-md-12" })
                            @Html.TextBoxFor(m => Model.OperationCadastroVeiculos.Potencia, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => Model.OperationCadastroVeiculos.Potencia, "", new { @class = "text-danger" })

                        </div>
                        <div class="form-group col-1">
                            @Html.LabelFor(m => Model.OperationCadastroVeiculos.Ar, new { @class = "control-label col-md-12" })
                            @Html.CheckBoxFor(m => Model.OperationCadastroVeiculos.Ar, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => Model.OperationCadastroVeiculos.Ar, "", new { @class = "text-danger" })

                        </div>
                        <div class="form-group col-2">
                            @Html.LabelFor(m => Model.OperationCadastroVeiculos.DirecaoHidraulica, new { @class = "control-label col-md-12" })
                            @Html.CheckBoxFor(m => Model.OperationCadastroVeiculos.DirecaoHidraulica, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => Model.OperationCadastroVeiculos.DirecaoHidraulica, "", new { @class = "text-danger" })

                        </div>
                        <div class="form-group col-2">
                            @Html.LabelFor(m => Model.OperationCadastroVeiculos.Km, new { @class = "control-label col-md-12" })
                            @Html.TextBoxFor(m => Model.OperationCadastroVeiculos.Km, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => Model.OperationCadastroVeiculos.Km, "", new { @class = "text-danger" })

                        </div>
                        <div class="form-group col-2  ">
                            @Html.LabelFor(m => Model.OperationCadastroVeiculos.MediaKmRodadoPorMes, new { @class = "control-label col-md-12" })
                            @Html.TextBoxFor(m => Model.OperationCadastroVeiculos.MediaKmRodadoPorMes, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => Model.OperationCadastroVeiculos.MediaKmRodadoPorMes, "", new { @class = "text-danger" })

                        </div>
                    </div>
                </div>
                <!-- /.card-body -->
            </div>
            <!-- /.card -->

        </div>

        <div class="col-md-12">
            <!-- general form elements -->
            <div class="card card-primary">
                <div class="card-header">
                    <h3 class="card-title">Dados do Cliente</h3>
                </div>
                <!-- /.card-header -->
                <!-- form start -->

                <div class="card-body">
                    <div class="form-row">
                        <div class="form-group col-4">
                            @Html.LabelFor(m => Model.SystemUserClient.Name, new { @class = "control-label col-md-12" })
                            @Html.TextBoxFor(m => Model.SystemUserClient.Name, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => Model.SystemUserClient.Name, "", new { @class = "text-danger" })

                        </div>
                        <div class="form-group col-4">
                            @Html.LabelFor(m => Model.SystemUserClient.Telefone, new { @class = "control-label col-md-12" })
                            @Html.TextBoxFor(m => Model.SystemUserClient.Telefone, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => Model.SystemUserClient.Telefone, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group col-4">

                            @Html.LabelFor(m => Model.SystemUserClient.Email, new { @class = "control-label col-md-12" })
                            @Html.TextBoxFor(m => Model.SystemUserClient.Email, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => Model.SystemUserClient.Email, "", new { @class = "text-danger" })

                        </div>
                    </div>
                </div>
                <!-- /.card-body -->
            </div>
            <!-- /.card -->

        </div>


        <button class="btn btn-primary" type="submit">Salvar</button>
    }
}

@if (Model.HistoryServicoes.Count == 0 && Model.OperationOrdemDeServico != null && Model.OperationOrdemDeServico.Active == true)
{

    <div class="col-md-12">
        <!-- general form elements -->
        <div class="card card-primary">
            <div class="card-header">
                <h3 class="card-title">Carro</h3>
            </div>
            <!-- /.card-header -->
            <!-- form start -->

            <div class="card-body">
                <div class="form-row">
                    <div class="form-group  col-3">
                        @Html.LabelFor(m => Model.OperationCadastroVeiculos.Placa, new { @class = "control-label col-md-12" })
                        @Html.DisplayFor(m => Model.OperationCadastroVeiculos.Placa, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => Model.OperationCadastroVeiculos.Placa, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group  col-3">
                        @Html.LabelFor(m => Model.OperationCadastroVeiculos.Marca, new { @class = "control-label col-md-12" })
                        @Html.DisplayFor(m => Model.OperationCadastroVeiculos.Marca, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => Model.OperationCadastroVeiculos.Marca, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group  col-3">
                        @Html.LabelFor(m => Model.OperationCadastroVeiculos.Modelo, new { @class = "control-label col-md-12" })
                        @Html.DisplayFor(m => Model.OperationCadastroVeiculos.Modelo, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => Model.OperationCadastroVeiculos.Modelo, "", new { @class = "text-danger" })

                    </div>
                    <div class="form-group col-3">
                        @Html.LabelFor(m => Model.OperationCadastroVeiculos.Ano, new { @class = "control-label col-md-12" })
                        @Html.DisplayFor(m => Model.OperationCadastroVeiculos.Ano, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => Model.OperationCadastroVeiculos.Ano, "", new { @class = "text-danger" })

                    </div>
                    <div class="form-group col-3">
                        @Html.LabelFor(m => Model.OperationCadastroVeiculos.Motor, new { @class = "control-label col-md-12" })
                        @Html.DisplayFor(m => Model.OperationCadastroVeiculos.Motor, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => Model.OperationCadastroVeiculos.Motor, "", new { @class = "text-danger" })

                    </div>
                    <div class="form-group col-3">
                        @Html.LabelFor(m => Model.OperationCadastroVeiculos.Potencia, new { @class = "control-label col-md-12" })
                        @Html.DisplayFor(m => Model.OperationCadastroVeiculos.Potencia, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => Model.OperationCadastroVeiculos.Potencia, "", new { @class = "text-danger" })

                    </div>
                    <div class="form-group col-1">
                        @Html.LabelFor(m => Model.OperationCadastroVeiculos.Ar, new { @class = "control-label col-md-12" })
                        @Html.DisplayFor(m => Model.OperationCadastroVeiculos.Ar, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => Model.OperationCadastroVeiculos.Ar, "", new { @class = "text-danger" })

                    </div>
                    <div class="form-group col-3">
                        @Html.LabelFor(m => Model.OperationCadastroVeiculos.DirecaoHidraulica, new { @class = "control-label col-md-12" })
                        @Html.DisplayFor(m => Model.OperationCadastroVeiculos.DirecaoHidraulica, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => Model.OperationCadastroVeiculos.DirecaoHidraulica, "", new { @class = "text-danger" })

                    </div>

                    <div class="form-group col-2">
                        @Html.LabelFor(m => Model.OperationCadastroVeiculos.Km, new { @class = "control-label col-md-12" })
                        @Html.DisplayFor(m => Model.OperationCadastroVeiculos.Km, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => Model.OperationCadastroVeiculos.Km, "", new { @class = "text-danger" })

                    </div>

                    <div class="form-group col-2   ">
                        @Html.LabelFor(m => Model.OperationCadastroVeiculos.MediaKmRodadoPorMes, new { @class = "control-label col-md-12" })
                        @Html.DisplayFor(m => Model.OperationCadastroVeiculos.MediaKmRodadoPorMes, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => Model.OperationCadastroVeiculos.MediaKmRodadoPorMes, "", new { @class = "text-danger" })

                    </div>
                </div>
            </div>
            <!-- /.card-body -->
        </div>
        <!-- /.card -->

    </div>

    <div class="col-md-12">
        <!-- general form elements -->
        <div class="card card-primary">
            <div class="card-header">
                <h3 class="card-title">Dados do Cliente</h3>
            </div>
            <!-- /.card-header -->
            <!-- form start -->

            <div class="card-body">
                <div class="form-row">
                    <div class="form-group col-4">
                        @Html.LabelFor(m => Model.SystemUserClient.Name, new { @class = "control-label col-md-12" })
                        @Html.DisplayFor(m => Model.SystemUserClient.Name, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => Model.SystemUserClient.Name, "", new { @class = "text-danger" })

                    </div>
                    <div class="form-group col-4">
                        @Html.LabelFor(m => Model.SystemUserClient.Telefone, new { @class = "control-label col-md-12" })
                        @Html.DisplayFor(m => Model.SystemUserClient.Telefone, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => Model.SystemUserClient.Telefone, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group col-4">

                        @Html.LabelFor(m => Model.SystemUserClient.Email, new { @class = "control-label col-md-12" })
                        @Html.DisplayFor(m => Model.SystemUserClient.Email, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => Model.SystemUserClient.Email, "", new { @class = "text-danger" })

                    </div>
                </div>
            </div>
            <!-- /.card-body -->
        </div>
        <!-- /.card -->

    </div>


    <div class="col-md-12">
        <!-- general form elements -->
        <div class="card card-primary">
            <div class="card-header">
                <h3 class="card-title">Manutenção</h3>

            </div>
            <div class="">
                <button class="btn btn-block btn-info btn-flat criarservicos" data-id="0">
                    <i class="fas fa-plus-circle"></i>
                    Adicionar Serviço
                </button>
            </div>


            <table class="table">
                <thead>
                    <tr>
                        <th>Serviço</th>
                        <th>Preco</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.OperationOrdemDeServico.HistoryVeiculos.HistoryServicoesCollection)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Description)
                        </td>
                        <td>
                           R$ @item.Preco.ToString()
                        </td>

                        <td class="text-center btn-group-sm table-menu-buttons">
                            <button class="btn btn-danger deleteServicos" data-toggle="tooltip" data-placement="right" title="Delete" data-id="@item.HistoryServicoesId "><i class="fas fa-trash-alt"></i></button>
                        </td>
                    </tr>
            }

                </tbody>
            </table>
        </div>
        <!-- /.card -->
        <a href="@Url.Action("FinalizarPedido", new { id = Model.OperationOrdemDeServico.OperationOrdemDeServicoId })" class="btn btn-success float-right">
            Finalizar pedido
        </a>
    </div>
}
<script>

    $(document).ready(function () {
        var veiculos = $("#OperationCadastroVeiculosId");

        //for Select2 Options: https://select2.github.io/options.html
        veiculos.select2({
            language: "pt",//don't forget to add language script (select2/js/i18n/tr.js)
            minimumInputLength: 0, //for listing all records > set 0
            maximumInputLength: 20, //only allow terms up to 20 characters long
            multiple: false,
            placeholder: "Selecione o Veiculo",
            allowClear: true,
            tags: false, //prevent free text entry
            width: "col-md-12",

            ajax: {
                url: '@Url.Action("SearchCar", "ServicoesDoAutomovel")',
                dataType: 'json',
                delay: 250,
                data: function (params) {
                    return {
                        query: params.term, //search term
                        id: veiculos.val(),
                        page: params.page
                    };
                },
                processResults: function (data, page) {
                    var newData = [];
                    $.each(data, function (index, item) {
                        newData.push({
                            //id part present in data
                            id: item.Id,
                            //string to be displayed
                            text: item.Name + " - " + item.Email
                        });
                    });
                    return { results: newData };
                },
                cache: true
            },
            escapeMarkup: function (markup) { return markup; }
        });


        //You can simply listen to the select2:select event to get the selected item
        veiculos.on('select2:select', onSelect)

        function onSelect(evt) {
            console.log($("#OperationCadastroVeiculosId")[0].value)
             $.ajax({
                 url: "@Url.Action("ApplyCar", "ServicoesDoAutomovel")?ids=" + $("#OperationCadastroVeiculosId")[0].value, success: function (result) {
                     $("#carroResult").html(result)
                }
            });
     
        }

        //Event example for close event
        veiculos.on('select2:close', onClose)

        function onClose(evt) {
            //console.log('Closed…');

        }
    });

</script>

<script>
    $(document).ready(function () {
        $('.imgst img').zoomify();
    });

    $(".criarservicos").click(function () {

        var url = window.location.href;
        $("#modal").load('@Url.Action("CreateServico", "ServicoesDoAutomovel")' , function () {
            $("#modal").modal();
        });
    });

    $(".deleteServicos").click(function () {
        var id = $(this).attr("data-id");
        var url = window.location.href;
        $("#modal").load('@Url.Action("DeleteServico", "ServicoesDoAutomovel")?id=' + id , function () {
            $("#modal").modal();
        });
    });
</script>
