﻿@model Pegasus.Areas.Oficina.Models.FormulariodeServicos

@{
    ViewBag.Title = "Index1";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index1</h2>



<div>
    @Html.ActionLink("Back to List", "Index")
</div>
