﻿
@model IEnumerable<DataLayer.DbSystem.Models.TbOperationOrdemDeServico>
@{
    ViewBag.Title = "Todos os Servicos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}




<section class="content-header">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-6">
                <h1>    @ViewBag.Title</h1>
            </div>
            <div class="col-sm-4">
            </div>
            <div class="col-sm-2">
                <a class="btn btn-block btn-info btn-flat " href="@Url.Action("Index","ServicoesDoAutomovel")" data-id="0">
                    <i class="fas fa-plus-circle"></i>
                    Criar ordem de serviço
                </a>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>

<div class="container-fluid  dashboard-content">


    <div class="row">
        <!-- ============================================================== -->
        <!-- data table  -->
        <!-- ============================================================== -->
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
            <div class="card">
                <div class="card-header">
                    <h5 class="mb-0"></h5>
                    <p></p>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table id="datatable" class="table table-striped table-bordered second" style="width:100%">
                            <thead>
                                <tr>

                                    <th>
                                        Numero da Ordem
                                    </th>
                                    <th>
                                        Nome do Requisitante
                                    </th>
                                    <th>
                                        Nome do Cliente
                                    </th>


                                    <th>
                                        Ativo
                                    </th>
                                    <th class="nosort"></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.OrdemDeServico)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.SystemUser.Name)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.HistoryVeiculos.SystemClient.Name)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Active)
                                    </td>

                                    <td class="text-center btn-group-sm table-menu-buttons">
                                        @if (item.HistoryVeiculos.HistoryServicoesCollection.Count() > 0 && item.Active == false)
                                        {
                                        <a class="btn btn-primary " href="@Url.Action("Servicos", new { id = item.OperationOrdemDeServicoId })">
                                            <i class="fas fa-eye"></i>
                                        </a>
                                        }
                                        else
                                        {
                                            <a class="btn btn-danger " href="@Url.Action("Servicos", "ServicoesDoAutomovel", new { id = item.OperationOrdemDeServicoId })">
                                            <i class="fas fa-adjust"></i>
                                        </a>
                                        }
                                    </td>
                                </tr>
                                }

                            </tbody>

                        </table>
                    </div>
                </div>
            </div>
        </div>
        <!-- ============================================================== -->
        <!-- end data table  -->
        <!-- ============================================================== -->
    </div>

</div>

