﻿@model Pegasus.Areas.Oficina.Models.ServicosModelView
@using BusinessLayer.Security
@{
    ViewBag.Title = "Servicoes";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">



                <!-- Main content -->
                <div class="invoice p-3 mb-3">
                    <!-- title row -->
                    <div class="row">
                        <div class="col-12">
                            <h4>
                                @*<i class="fa fa-user"></i>*@ Cliente: @Model.Cliente.Name
                                <small class="float-right">@Model.OrdemDeServico.Created</small>
                            </h4>
                        </div>
                        <!-- /.col -->
                    </div>
                    <!-- info row -->
                    <div class="row invoice-info">
                        <div class="col-sm-4 invoice-col">

                            <address>
                                <strong></strong><br>
                                <strong>
                                    Email:
                                </strong> @Model.Cliente.Email<br>
                                <strong> Telefone:</strong> @Model.Cliente.Telefone<br>
                                @*<strong> Endereço: </strong> @Model.Cliente.Endereço<br>*@

                            </address>
                        </div>
                        <!-- /.col -->
                        <div class="col-sm-4 invoice-col">

                            <strong>Dados do Veiculo  </strong>
                            <br>
                            <address>
                                <strong>Marca:  </strong> @Model.OrdemDeServico.HistoryVeiculos.Marca<br>
                                <strong> Placa: </strong> @Model.OrdemDeServico.HistoryVeiculos.Placa<br>
                                <strong> Modelo: </strong> @Model.OrdemDeServico.HistoryVeiculos.Modelo<br>
                                <strong> Ano:  </strong> @Model.OrdemDeServico.HistoryVeiculos.Ano<br>
                                <strong> Motor:  </strong> @Model.OrdemDeServico.HistoryVeiculos.Motor<br>

                            </address>
                        </div>
                        <!-- /.col -->
                        <div class="col-sm-4 invoice-col">
                            <b>Pedido</b><br>
                            <br>
                            <b>Status Ativo:</b>  @Html.DisplayFor(m => Model.OrdemDeServico.Active)<br>
                            <b>Numero:</b>   @Model.OrdemDeServico.OrdemDeServico<br>
                            <b>Criado em:</b>   @Model.OrdemDeServico.Created<br>
                            <b>Criado Por:</b> @Model.OrdemDeServico.SystemUser.Name
                        </div>
                        <!-- /.col -->
                    </div>
                    @*<hr />*@
                    @*<hr />*@

                    @*<div class="row no-print">
                        <div class="col-12">
                            <strong>Foto do Veiculo</strong>
                            <hr />
                            <div class="imgst">
                                foreach (var item in Model.OrdemDeServico.HistoryVeiculos.OperationArquivoCollection)
                                {
                                    <img class="img-thumbnail w-25" src="data:image/png;base64,@item.Base64" alt="">

                                }
                            </div>
                        </div>
                    </div>*@
                    <hr />

                    <!-- /.row -->
                    <!-- Table row -->
                    @if (SystemSecurityRoles.IsInRole("OFICINA"))
                    {
                        if (Model.OrdemDeServico.Active == true)
                        {
                            <hr />
                            <div class="row no-print">
                                <div class="col-12">

                                    <button type="button" class="btn btn-success float-right servicos">
                                        Adicionar Servico

                                    </button>

                                </div>
                            </div>
                            <hr />
                        }

                    }
                    <div class="row">
                        <div class="col-12 table-responsive">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>Nome</th>
                                     
                                         <th>Preço</th>
                                    

                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model.OrdemDeServico.HistoryVeiculos.HistoryServicoesCollection)
                                    {
                                    <tr>
                                        <td>@item.Description</td>
                                        <td>R$ @item.Preco</td>
                                    </tr>
                                    }
                                     <tr style="font-weight: bold;background-color: rgba(255, 0, 0, 0.7);">
                                        <td>Total</td>
                                        <td>R$ @Model.PrecoTotal</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <!-- /.col -->
                    </div>

                    <!-- this row will not appear when printing -->

                    <div class="row no-print">
                        <div class="col-12">
                            @if (Model.OrdemDeServico.Active == true)
                            {
                                <a href="@Url.Action("FinalizarPedido", new { id = Model.OrdemDeServico.OperationOrdemDeServicoId })" class="btn btn-success float-right">
                                    Finalizar pedido

                                </a>
                            }
                            else
                            {

                            }

                        </div>
                    </div>

                    <hr />
                </div>
                <!-- /.invoice -->
            </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.container-fluid -->
</section>

<script>
    $(document).ready(function () {
        $('.imgst img').zoomify();
    });

    $(".servicos").click(function () {

        var url = window.location.href;
        $("#modal").load('@Url.Action("Create", "OrdemDeServicoes")' , function () {
            $("form").attr("autocomplete", "off");
            $("#modal").modal();
        });
    });
    $(".deleteServicos").click(function () {
        var id = $(this).attr("data-id");
        var url = window.location.href;
        $("#modal").load('@Url.Action("Delete", "OrdemDeServicoes")?id=' + id , function () {
            $("form").attr("autocomplete", "off");
            $("#modal").modal();
        });
    });
</script>