﻿@model Pegasus.Areas.Oficina.Models.ServicosTipesModelView


<div class="modal-dialog" role="document">
    <div class="modal-content">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Novo</h5>
                <a href="#" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </a>
            </div>
            <div class="modal-body">
                <div class="col-md-10 col-md-offset-1">
                    <div class="form-horizontal">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })


                        <div class="form-group">
                            @Html.Label("Serviço", htmlAttributes: new { @class = "control-label col-md-12" })
                            <div class="col-md-12">
                                @Html.DropDownListFor(m => m.ServicosId, Enumerable.Empty<SelectListItem>(), "Select", new { htmlAttributes = new { @class = "form-control select2-selection select2-selection--single" } })

                                @Html.ValidationMessageFor(model => model.ServicosId, "", new { @class = "text-danger" })
                            </div>
                        </div>


                       


                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <a href="#" class="btn btn-secondary" data-dismiss="modal">Fechar</a>
                <button class="btn btn-primary" type="submit">Salvar</button>
            </div>
        }
    </div>
</div>




<script>

    $(document).ready(function () {

        var User = $("#ServicosId");

        //for Select2 Options: https://select2.github.io/options.html
        User.select2({
            language: "pt",//don't forget to add language script (select2/js/i18n/tr.js)
            minimumInputLength: 0, //for listing all records > set 0
            maximumInputLength: 20, //only allow terms up to 20 characters long
            multiple: false,
            placeholder: "Selecione o Serviço",
            allowClear: true,
            tags: false, //prevent free text entry
            width: "100%",

            ajax: {
                url: '@Url.Action("SearchServico")',
                dataType: 'json',
                delay: 250,
                data: function (params) {
                    return {
                        query: params.term, //search term
                        page: params.page
                    };
                },
                processResults: function (data, page) {
                    var newData = [];
                    $.each(data, function (index, item) {
                        newData.push({
                            //id part present in data
                            id: item.Id,
                            //string to be displayed
                            text: item.Name + " - " + item.Email
                        });
                    });
                    return { results: newData };
                },
                cache: true
            },
            escapeMarkup: function (markup) { return markup; }
        });


        //You can simply listen to the select2:select event to get the selected item
        User.on('select2:select', onSelects)

        function onSelects(evt) {
            $("#TipoServicosId").value = '';
            console.log($("#ServicosId")[0].value)
            $(".carro").show()
         

        }

        //Event example for close event
        User.on('select2:close', onClose)

        function onClose(evt) {
            //console.log('Closed…');
        }


      
    });

</script>
